@model IEnumerable<Asiservy.Automatizacion.Datos.Datos.CC_ANALISIS_AGUA_CLORINACION_CONTROL>
@using Newtonsoft.Json;

<table class="table table-bordered table-striped table-hover" id="tblDataTable" style="font-size:12px">
    <thead>
        <tr>
            <th>
                FECHA
            </th>
            <th>
                OBSERVACION
            </th>
            <th>
                USUARIO CREACION
            </th>
            <th>
                FECHA CREACION
            </th>
            <th>
                ESTADO
            </th>
        </tr>
        </thead>
    <tbody style="font-size:11px">
        @foreach (var item in Model)
        {
            var json = JsonConvert.SerializeObject(item);
            <tr onclick="SeleccionarBandeja(@json)">
                <td>
                    @item.Fecha.ToString("dd-MM-yyyy")
                </td>
                <td style="white-space:normal">
                    @if (!string.IsNullOrEmpty(item.Observaciones))
                    {
                        @item.Observaciones.ToUpper()
                    }
                </td>
                <td>
                    @item.UsuarioIngresoLog
                </td>
                <td>
                    @item.FechaIngresoLog.ToString("dd-MM-yyyy")
                </td>
                <td>
                    @if (item.EstadoReporte == true)
                    {
                        <span class="badge badge-success">APROBADO</span>
                    }
                    else
                    {
                        <span class="badge badge-danger">PENDIENTE</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
