@model Asiservy.Automatizacion.Datos.Datos.CC_MATERIAL_QUEBRADIZO_MANT_MATERIAL

@{
    ViewBag.Title = "MantenimientoMaterial";
}

<h4>Mantenimiento Material</h4>

<style>
    input, select, textarea {
        max-width: 100%;
    }
</style>

<hr />
<div class="row" id="divCabecera1">
    <div class="col-md-2 col-12  text-md-left text-center">
        <label class="" id="lblAcciones">Nuevo Registro</label>
        <div class="form-group">
            <button data-toggle="tooltip" data-placement="top" title="Crear nuevo registro" class="btn" id="btnModalGenerarRegistro" onclick="ModalIngresoCabecera()" style="border-color:#2c3e50" type="button">
                <img style="width:100%" src="~/Content/icons/add24.png" />
            </button>
        </div>
    </div>

</div>
<hr />

@*MODAL MOSTRAR TABLA CABECERA*@
<div id="divMostarTablaCabecera" class="table-responsive">
</div>

@*MODAL ELIMINAR REGISTRO*@
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="modalEliminarControl">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel"></h4>
                <input type="hidden" id="txtEliminarDetalle" name="name" value="" />
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                @*<label id="lblMensaje"></label>*@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" onclick="EliminarCabeceraSi()" id="modal-detalle-si">Si</button>
                <button type="button" class="btn btn-outline-primary" onclick="EliminarCabeceraNo()" id="modal-detalle-no">No</button>
            </div>
        </div>
    </div>
</div>

@* MODAL PARA EL INGRESO NUEVO REGISTRO *@
<div class="modal" tabindex="-1" id="ModalIngresoCabecera" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content ">
            <div class="modal-header">
                <h5 class="modal-title">Crear Nuevo Registro</h5>
                <button type="button" class="close" data-dismiss="modal" onclick="LimpiarCabecera()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 col-12 col-sm-12">
                        <div class="form-group">
                            <label>NOMBRE</label>
                            <input type="text" name="name" value="" onchange="OnChangeTextBox()" id="txtNombre" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-12 col-12 col-sm-12">
                        <label>ORDEN</label>
                        <div class="form-group">
                            <input type="text" name="name" value="" onchange="OnChangeTextBox()" id="txtOrden" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-12 col-12 col-sm-12">
                        <div class="form-group">
                            <label>DESCRIPCION</label>
                            <input type="text" name="name" value="" onchange="OnChangeTextBox()" id="txtDescripcion" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="ValidarDatosVacios()" id="btnGenerarControlRegistro">Guardar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="LimpiarCabecera()">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>

