
@{
    ViewBag.Title = "BandejaCloroCisternaDescongelado";
}


<style>
    input, select, textarea {
        max-width: 100%
    }
</style>

<h5>Bandeja control de cloro</h5>
<br />
<div id="spinnerCargando" hidden class="text-center">
    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Cargando...</span>
    </div>
</div>
<div id="divPartialBandeja">

</div>

<!-- Modal -->
<div class="modal fade" id="ModalApruebaProductoTerminado" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Entrega de Producto Terminado</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table-hover table-bordered table-striped table" style="cursor: pointer" id="tblDataTableAprobar">
                        <thead>
                            <tr>
                                <th>Hora</th>
                                <th>Ppm_Cloro</th>
                                <th>Cisterna</th>
                                <th>UsuarioIngresoLog</th>
                                <th>Observaciones</th>                                
                            </tr>
                        </thead>
                        <tbody style="font-size:14px"></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="AprobarEntregaProductoTermiando()">Aprobar</button>
            </div>
        </div>
    </div>
</div>


