
@{
    ViewBag.Title = "CloroCisternaDescongelado";
}

<h4 class="" style="color:black">CONTROL DE CLORO EN CISTERNA DESCONGELADO <label id="txtEstado"></label></h4>
<style>
    input, select, textarea {
        max-width: 100%;
    }
</style>


@*@ViewBag.Linea*@
<hr />
<div class="row" id="divCabecera1">
    <div class="col-md-3 col-6 col-sm-6">
        <div class="form-group">
            <label>Fecha</label>
            <input type="date" name="name" value="@DateTime.Now.ToString("yyyy-MM-dd")" onchange="CargarCabecera()" id="txtFecha" class="form-control" />
        </div>
    </div>
    <div class="col-md-7 col-6 col-sm-6">
        <div class="form-group">
            <label>Observación</label>
            <input type="text" name="name" value="" id="txtObservacion" class="form-control" />
        </div>
    </div>
    <div class="col-md-2 col-12  text-md-left text-center">
        <label class="" id="lblAcciones">Acciones</label>
        <div class="form-group">
            @*<input type="button" name="name" value="Consultar" id="btnConsultar" class="btn btn-primary" onclick="CargarReporteAvance()" />*@
            <button data-toggle="tooltip" data-placement="top" title="Crear nuevo registro" class="btn" id="btnModalGenerarRegistro" onclick="GuardarCabecera()" style="border-color:#2c3e50" type="button">
                <img style="width:100%" src="~/Content/icons/add24.png" />
            </button>

            @*<input type="button" name="name" value="Consultar" id="btnConsultar" class="btn btn-primary" onclick="CargarReporteAvance()" />*@
            <button hidden data-toggle="tooltip" data-placement="top" title="Eliminar" class="btn" id="btnModalEliminar" onclick="EliminarConfirmar()" style="border-color:#2c3e50" type="button">
                <img style="width:100%" src="~/Content/icons/cancel24.png" />
            </button>
            <button hidden data-toggle="tooltip" data-placement="top" title="Editar" class="btn" id="btnModalEditar" onclick="ActualizarCabeceraActivarCotroles(true)" style="border-color:#2c3e50" type="button">
                <img style="width:100%" src="~/Content/icons/edit24.png" />
            </button>
        </div>
    </div>

</div>
<hr />
<div class="d-flex justify-content-center">
    <div id="spinnerCargando" hidden class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

@*MODAL ELIMINAR FECHA*@
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="modalEliminarControl">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <input type="hidden" id="txtEliminarDetalle" name="name" value="" />
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Eliminar Control de fecha</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" onclick="EliminarCabeceraSi()" id="modal-detalle-si">Si</button>
                <button type="button" class="btn btn-outline-primary" onclick="EliminarCabeceraNo()" id="modal-detalle-no">No</button>
            </div>
        </div>
    </div>
</div>


@* MODAL INGRESO DETALLE HORAS *@

<div class="modal" tabindex="-1" id="ModalGenerarHoraControlCloroCisterna" role="dialog" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Control Hora</h5>
                <button type="button" class="close" data-dismiss="modal" onclick="limpiarDetalle()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <input type="hidden" id="txtIdEntregaProductoTerminadoDetalle" name="name" value="0" />
                    <div class="col-md-5 col-6 col-sm-6">
                        <div class="form-group">
                            <label>Hora</label>
                            <input class="form-control" id="txtHora" type="datetime-local" onchange="controlDiaMayorMenor()" name="name" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" />
                        </div>
                    </div>

                    <div class="col-md-3 col-6 col-sm-6">
                        <div class="form-group">
                            <label>Ppm Cloro</label>
                            <input class="form-control" id="txtPpm" type="number" min="0" max="5" step="0.1" placeholder="0.0" name="name"  />
                        </div>
                    </div>
                    <div class="col-md-3 col-6 col-sm-6">
                        <div class="form-group">
                            <label>Cisterna</label>
                            <input class="form-control " id="txtCisterna" type="number" placeholder="0" max="10" min="0" name="name" value="" />
                        </div>
                    </div>
                    <div class="col-md-12 col-6 col-sm-6">
                        <div class="form-group">
                            <label>Observaciones</label>
                            <input class="form-control" id="txtObservacionDetalle" placeholder="Texto de observación" type="text" name="name" value="" />
                        </div>
                    </div>                    

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="GuardarControlCloroDetalle()" id="btnGenerarControlCloro">Guardar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="limpiarDetalle()">Cancelar</button>
            </div>
        </div>
    </div>
</div>

@*MODAL BOTON DETALLE DE HORAS*@
<div id="divDetalleControlCloro" hidden>
    <div class="row">

        <div class="col-md-12 col-12 col-sm-12">
            <div class="card shadow">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-2 col-sm-3 col-4">
                            <div class="form-group">
                                @*<input type="button" name="name" value="Consultar" id="btnConsultar" class="btn btn-primary" onclick="CargarReporteAvance()" />*@
                                <button data-toggle="tooltip" data-placement="top" title="Crear Registro Hora" class="btn" id="btnModalGenerar" onclick="ModalGenerarHoraControlCloroCisterna()" style="border-color:#2c3e50" type="button">
                                    <img style="width:100%" src="~/Content/icons/add24.png" />
                                </button>
                            </div>
                        </div>
                        <div class="col-md-10 col-sm-9 col-8">
                            <h4>Hora de Control</h4>
                        </div>
                    </div>

                </div>
                <div class="card-body">
                    <div id="chart">
                        <div class="d-flex justify-content-center">
                            <div id="spinnerCargandoConsumoInsumoDetalle" hidden class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>

                        <div id="divTableEntregaProductoDetalle" class="table-responsive">

                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="card shadow">
            <div class="card-body">
                Frecuencia: 3 horas<br />
                Min: 0.3 ppm<br />
                Max: 1.5 ppm
            </div>
        </div>
    </div>
</div>