@model Asiservy.Automatizacion.Datos.Datos.sp_Reporte_CloroCisternaDescongelado

@{
    ViewBag.Title = "ReporteCloroCisternaDescongelado";
}

<style>
    input, select, textarea {
        max-width: 100%;
    }

    .selectbox {
        background: #fff;
        color: #1d3b4a;
        padding: 5px 8px;
        line-height: 18px;
        border-radius: 4px;
        border-width: 0 1px 4px;
        cursor: pointer;
        border: 1px solid #ddd;
    }

    .box_filters {
        float: right;
    }

    .itemFilter {
        float: left;
        margin-right: 4px;
    }

    .btnWait {
        cursor: no-drop !important;
    }

    ._bloque {
        margin-bottom: 10px;
    }
</style>
<br />
<div class="row">
    <div class="col-12">
        <h4 style="float:left">Reporte Control de Cloro en Cisterna Descongelado</h4>
        <div class="box_filters">
            <div class="itemFilter">
                <input type="hidden" id="fechaDesde" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                <input type="hidden" id="fechaHasta" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                <div id="reportrange" class="selectbox">
                    <i class="fa fa-calendar"></i>&nbsp;
                    <span></span> <i class="fa fa-caret-down"></i>
                </div>
            </div>
            <div class="itemFilter">
                <a href="#" onclick="CargarReporteControlCloro(0)" id="btnModalGenerarRegistro" class="btn btn-primary btn-sm"><i id="iconSearch" class="fas fa-search"></i></a>
            </div>
        </div>
    </div>
</div>
<hr />
<br />
<button data-toggle="tooltip" data-placement="top" title="Imprimir" class="btn" id="btnGenerar" onclick="PrintReport(0)" style="border-color:#2c3e50" type="button">
    <img style="width:100%" src="../../Content/icons/print24.png" />
</button>
@Html.Hidden("RedirectTo", Url.Action("PrintReport", "CloroCisternaDescongelado"))   @*Se usa para redirigir a la vista del PDF*@
<br /><br />

<!-- Modal -->
<div class="table-responsive" id="DivReporteControlCloro">
    
</div>
<div class="row">
    <div class="col-md-4">
        <div class="card shadow">
            <div class="card-body">
                Frecuencia: 3 horas<br />
                Min: 0.3 ppm<br />
                Max: 1.5 ppm
            </div>
        </div>
    </div>
</div>

