@model Asiservy.Automatizacion.Datos.Datos.CONTROL_ENFUNDADO

@{
    ViewBag.Title = "ControlEnfundado";
}
<style>
    input, select, textarea {
        max-width: 100%;
    }
</style>
<h4>Control de horario de enfundado</h4>
<label>@ViewBag.Linea</label>
<hr />
<div id="divFiltros">
    <div class="row">
        <input type="hidden" name="name" id="txtIdControl" value="0" />
        <div class="col-md-3 col-6">
            <div class="form-group">
                <label id="labelFecha">Fecha</label>
                <input id="txtFecha" type="date" name="Fecha" onchange="CambioFecha()" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control" />
                <p class="text-danger" id="ValidaFecha" hidden>Ingrese una fecha </p>
            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="form-group">
                <label>Hora</label>
                <input id="txtHora" type="time" name="Hora" value="00:00" class="form-control" />
                <p class="text-danger" id="ValidaHora" hidden>Ingrese una hora </p>
            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="form-group">
                <label>Fundas Teoricas</label>
                <input id="txtFundasTeoricas" type="number" class="form-control" name="name" value="25" />
                <p class="text-danger" id="ValidaFundasTeoricas" hidden>Tiene que ser mayor a 0 </p>
            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="form-group">
                <label>Peso Producto</label>
                <input id="txtPeso" type="number" class="form-control" name="name" value="7.5" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label>Lote</label>
                @Html.DropDownList("Lotes", new SelectList(ViewBag.Lotes, "Lote", "Lote"), "seleccione", new { @class = "form-control", @id = "selectLotes" })
                <p class="text-danger" id="ValidaLote" hidden>Seleccione un lote </p>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label>Especificación de Funda</label>
                @Html.DropDownList("Funda", new SelectList(ViewBag.EspecificacionFunda, "Codigo", "Descripcion"), new { @class = "form-control", @id = "selectEspecificacionFunda" })
                <p class="text-danger" id="ValidaFunda" hidden>Tiene que ser mayor a 0 </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 text-center">

        @*<input type="button" id="btnGenerar" class="btn btn-primary" name="Generar" value="Generar" onclick="GenerarControl()" />
        <input type="button" class="btn btn-primary" name="Nuevo" value="Nuevo" onclick="Limpiar()" />*@

        <button data-toggle="tooltip" data-placement="top" title="Generar" class="btn" id="btnGenerar" onclick="GenerarControl()" style="border-color:#2c3e50" type="button">
            <img style="width:100%" src="~/Content/icons/add24.png" />
        </button>
        <button data-toggle="tooltip" data-placement="top" title="Nuevo" class="btn" id="btnNuevo" onclick="Limpiar()" style="border-color:#2c3e50" type="button">
            <img style="width:100%" src="~/Content/icons/clear24.png" />
        </button>

        <button hidden data-toggle="tooltip" data-placement="top" title="Atras" class="btn" id="btnAtras" onclick="Atras()" style="border-color:#2c3e50" type="button">
            <img style="width:100%" src="~/Content/icons/atras24.png" />
        </button>
        <button hidden data-toggle="tooltip" data-placement="top" title="Eliminar" class="btn" id="btnInactivar" onclick="InactivarControl()" style="border-color:#2c3e50" type="button">
            <img style="width:100%" src="~/Content/icons/cancel24.png" />
        </button>

    </div>
</div>
<hr />
<div class="d-flex justify-content-center">
    <div id="spinnerCargando" hidden class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div id="DivTableControl" class="table-responsive">

</div>




<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="mi-modal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Eliminar Control de Enfundado</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" id="modal-btn-si">Si</button>
                <button type="button" class="btn btn-outline-primary" id="modal-btn-no">No</button>
            </div>
        </div>
    </div>
</div>