@model Asiservy.Automatizacion.Datos.Datos.sp_Control_Desechos_Liquidos_Peligrosos

@{
    ViewBag.Title = "BandejaDesechosLiquidosPeligrosos";
}

<style>
    input, select, textarea {
        max-width: 100%;
    }

    .selectbox {
        background: #fff;
        color: #1d3b4a;
        padding: 5px 8px;
        line-height: 18px;
        border-radius: 4px;
        border-width: 0 1px 4px;
        cursor: pointer;
        border: 1px solid #ddd;
    }

    .box_filters {
        float: right;
    }

    .itemFilter {
        float: left;
        margin-right: 4px;
    }

    .btnWait {
        cursor: no-drop !important;
    }

    ._bloque {
        margin-bottom: 10px;
    }
</style>

<div class="row">
    <div class="col-md-6 col-12 col-sm-12">
        <h4 class="text-md-left text-center" style="float:left">Bandeja de Desechos Liquidos Peligrosos</h4>
    </div>
</div>
<hr />
<div class="row ">
    <div class="col-md-3 col-12 col-sm-12 text-md-left text-center">
        <label>ESTADO REPORTE:</label>
        <select id="selectEstadoReporte" class="form-control" onchange="CargarBandeja()">
            <option value="false" default>PENDIENTE APROBACION&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
            <option value="true">APROBADO</option>
        </select>
    </div>
    <div class="col-md-2 col-12 col-sm-12 text-md-left text-center">
        <label>AÑO:</label>
        <select id="selectAnio" class="form-control" onchange="CargarBandeja()"></select>
    </div>
    <div class="col-md-1 col-12 col-sm-12 text-md-left text-center">
        <label>BUSCAR:</label><br />
        <a href="#" onclick="CargarBandeja()" id="btnModalGenerarRegistro" class="btn btn-primary btn-sm text-md-left text-center"><i id="iconSearch" class="fas fa-search"></i></a>
    </div>
</div>
<br /><hr />

@* DIV MOSTRAR PARTIAL VIEW *@
<div class="table-responsive" id="divTablaAplrobados">
    <table class="table-hover table-bordered table-striped table" style="cursor: pointer" id="tblDataTableDetalle">
        <thead>
            <tr>
                <th>MES</th>
                <th>FECHA CREACION</th>
                <th style="width:200px">USUARIO CREACION</th>
                <th style="width:200px"><center>ESTADO APROBACION</center></th>
            </tr>
        </thead>
        <tbody style="font-size:14px"></tbody>
    </table>
</div>

@* MODAL APRUEBA-PENDIENTE CONTROL*@
<div class="modal fade" id="ModalApruebaPendiente" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Aprobar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive" id="divTblAprobarPendiente">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" id="btnAprobado" hidden class="btn btn-primary" onclick="AprobarPendiente(true)">Aprobar</button>
                <button type="button" id="btnPendiente" hidden class="btn btn-primary" onclick="AprobarPendiente(false)">Reversar</button>
            </div>
        </div>
    </div>
</div>