@model IEnumerable<Asiservy.Automatizacion.Datos.Datos.sp_Control_Desechos_Liquidos_Peligrosos>

@{
    Layout = null;

    string[] mes = new string[] {"ENERO", "FEBRERO", "MARZO", "ABRIL", "MAYO", "JUNIO", "JULIO", "AGOSTO", "SEPTIEMBRE", "OCTUBRE",
                                    "NOVIEMBRE", "DICIEMBRE", "TODOS LOS MESES"};

}

<!DOCTYPE html>
<html>
<head>
    <title>ReporteLavadoCisterna</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="itemFilter">
        <label style="font-size:18px" id="lblFechaDesde">Filtro Año:&nbsp;&nbsp;@ViewBag.filtroFechaDesde</label>
        <label style="font-size:18px" id="lblFechaHasta">&nbsp;&nbsp;Mes:&nbsp;&nbsp;@mes[ViewBag.filtroFechaHasta-1]</label>
    </div>
    <table class="table table-bordered" id="tblDataTable">
        <thead style="font-size:18px">
            <tr>
                <th>
                    FECHA
                </th>
                <th>
                    LABORATORIO
                </th>
                <th>
                    OTROS
                </th>
                <th>
                    OBSERVACION
                </th>
                <th>ESTADO</th>
            </tr>
        </thead>
        <tbody style="font-size:16px">
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @item.FechaDIA.ToString("dd-MM-yyyy")
                    </td>
                    <td>
                        @item.Laboratorio.ToString("####.##")  Lt
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(item.Otros))
                        {
                            @item.Otros.ToUpper()
                        }
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(item.Observaciones))
                        {
                            @item.Observaciones.ToUpper()
                        }
                    </td>
                    <td>
                        @if (item.EstadoReporte == true)
                        {
                            <span class="badge badge-success">APROBADO</span>
                        }
                        else
                        {
                            <span class="badge badge-danger">PENDIENTE</span>
                        }
                    </td>
                </tr>}
        </tbody>
    </table>
</body>
</html>
