@model Asiservy.Automatizacion.Datos.Datos.sp_Control_Desechos_Liquidos_Peligrosos

@{
    ViewBag.Title = "ReporteDesechosLiquidosPeligrosos";
}

<style>
    input, select, textarea {
        max-width: 100%;
    }

    .selectbox {
        background: #fff;
        color: #1d3b4a;
        padding: 5px 8px;
        line-height: 18px;
        border-radius: 4px;
        border-width: 0 1px 4px;
        cursor: pointer;
        border: 1px solid #ddd;
    }

    .box_filters {
        float: right;
    }

    .itemFilter {
        float: left;
        margin-right: 4px;
    }

    .btnWait {
        cursor: no-drop !important;
    }

    ._bloque {
        margin-bottom: 10px;
    }
</style>
<div class="row">
    <div class="col-12 text-md-left text-center">
        <h4 style="float:left">Reporte Desechos Liquidos Peligrosos</h4>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-3 col-12 col-sm-12 text-md-left text-center">
        <label>MES</label>
        <select id='selectMonth' class="form-control" onchange="CargarCabecera()">
            <option value='13'>--TODOS LOS MESES--</option>
            <option value='1'>ENERO</option>
            <option value='2'>FEBRERO</option>
            <option value='3'>MARZO</option>
            <option value='4'>ABRIL</option>
            <option value='5'>MAYO</option>
            <option value='6'>JUNIO</option>
            <option value='7'>JULIO</option>
            <option value='8'>AGOSTO</option>
            <option value='9'>SEPTIEMBRE</option>
            <option value='10'>OCTUBRE</option>
            <option value='11'>NOVIEMBRE</option>
            <option value='12'>DICIEMBRE</option>
        </select>
    </div>
    <div class="col-md-2 col-12 col-sm-12 text-md-left text-center">
        <label>AÑO</label>
        <select id="selectAnio" class="form-control" onchange="CargarCabecera()"></select>
    </div>
    <div class="col-md-4 col-12 col-sm-12 text-md-left text-center">
        <label>BUSCAR:</label><br />
        <a href="#" onclick="CargarCabecera()" id="btnModalGenerarRegistro" title="Consultar registro" class="btn btn-primary btn-sm"><i id="iconSearch" class="fas fa-search"></i></a>
    </div>
</div>
<hr />

<button data-toggle="tooltip" data-placement="top" title="Imprimir" class="btn" id="btnGenerar" onclick="PrintReport()" style="border-color:#2c3e50" type="button">
    <img style="width:100%" src="../../Content/icons/print24.png" />
</button>
@Html.Hidden("RedirectTo", Url.Action("PrintReport", "DesechosLiquidosPeligrosos"))   @*Se usa para redirigir a la vista del PDF*@
<br />
@*MODAL MOSTRAR TABLA CABECERA*@
<div id="divMostarTablaCabecera" class="table-responsive">
</div>


