@model IEnumerable<Asiservy.Automatizacion.Datos.Datos.CC_CUCHILLOS_PREPARACION_CTRL>
@using Newtonsoft.Json;
<table class="table-hover table-bordered table-striped table" style="font-size:13px;width:100%" id="tblDataTable">
    <thead>
        <tr>
            <th>
                FECHA
            </th>           
            <th>
                OBSERVACION
            </th>
            <th>USUARIO CREACION</th>
            <th>F. CREACION</th>
            <th style="width:25%">
                <center> ESTADO APROBACION</center>
            </th>
        </tr>
    </thead>
    <tbody style="font-size:12px">
        @foreach (var item in Model)
        {
            var json = JsonConvert.SerializeObject(item);
            <tr onclick="SeleccionarBandeja(@json)">
                <td>
                    @item.Fecha.ToString("dd-MM-yyyy")
                </td>                
                <td>
                    @if (!string.IsNullOrEmpty(item.Observacion))
                    {
                        @item.Observacion.ToUpper()
                    }
                </td>
                <td>@item.UsuarioIngresoLog.ToUpper()</td>
                <td>@item.FechaIngresoLog.ToString("dd-MM-yyyy")</td>
                <td>
                    @if (item.EstadoReporte == true)
                    {
                        <center><span class="badge badge-success">APROBADO</span></center>
                    }
                    else {
                        <center><span class="badge badge-danger">PENDIENTE</span></center>
                    }
                </td>                
            </tr>
        }
    </tbody>
</table>
<script src="~/Scripts/General/dataTableJS.js"></script>