@model Asiservy.Automatizacion.Datos.Datos.sp_Control_Cuchillos_Preparacion

@{
    ViewBag.Title = "BandejaCuchilloPreparacion";
}

<style>
    input, select, textarea {
        max-width: 100%;
    }

    .selectbox {
        background: #fff;
        color: #1d3b4a;
        padding: 5px 8px;
        line-height: 18px;
        border-radius: 4px;
        border-width: 0 1px 4px;
        cursor: pointer;
        border: 1px solid #ddd;
    }

    .box_filters {
        float: right;
    }

    .itemFilter {
        float: left;
        margin-right: 4px;
    }

    .btnWait {
        cursor: no-drop !important;
    }

    ._bloque {
        margin-bottom: 10px;
    }
</style>

<div class="row">
    <div class="col-md-6 col-12 col-sm-12">
        <h4 class="text-md-left text-center" style="float:left">Bandeja Aprobación Cuchillos</h4>
    </div>   
</div>
<br />
<div class="row">
    <div class="col-md-3 col-12 col-sm-12">
        <select id="selectEstadoReporte" class="form-control" onchange="CargarBandeja()">
            <option value="false" default>PENDIENTE APROBACION</option>
            <option value="true">APROBADO</option>
        </select>
    </div>

    <div class="box_filters col-md-6 col-12 col-sm-12">
        <div class="itemFilter">
            <input type="hidden" id="fechaDesde" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
            <input type="hidden" id="fechaHasta" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
            <div id="reportrange" class="selectbox text-md-left text-center">
                <i class="fa fa-calendar"></i>&nbsp;
                <span></span> <i class="fa fa-caret-down"></i>
            </div>
        </div>
        <div class="itemFilter">
            <a href="#" onclick="CargarBandeja()" id="btnModalGenerarRegistro" class="btn btn-primary btn-sm"><i id="iconSearch" class="fas fa-search"></i></a>
        </div>
    </div>
</div>
    
<br />
    <br />
    @* DIV MOSTRAR PARTIAL VIEW *@
    <div class="table-responsive" id="divTablaAplrobados">
        
    </div>

    @* MODAL APRUEBA CONTROL*@
    <div class="modal fade" id="ModalApruebaPendiente" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Aprobar</h5>
                    <button type="button" class="close" data-dismiss="modal" onclick="LimpiarFecha()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-md-4 col-12 col-sm-12">
                        <input type="datetime-local" name="name" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" onchange="validar()" id="txtFechaAprobado" class="form-control" />
                    </div>
                    <br />
                    <div class="table-responsive" id="tblAprobarPendientePartial">
                        <table class="table-hover table-bordered table-striped table" style="font-size:12px;width:100%" id="tblDataTableAprobar">
                            <thead>
                                <tr>
                                    <th>CODIGO CUCHILLO</th>
                                    <th>ESTADO</th>
                                    <th>EMPLEADO</th>
                                    <th>USUARIO CREACION</th>
                                </tr>
                            </thead>
                            <tbody style="font-size:14px"></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="LimpiarFecha()"  data-dismiss="modal">Cerrar</button>
                    <button type="button" id="btnAprobado" hidden class="btn btn-primary" onclick="AprobarPendiente(true)">Aprobar</button>
                    <button type="button" id="btnPendiente" hidden class="btn btn-primary" onclick="AprobarPendiente(false)">Reversar</button>
                </div>
            </div>
        </div>
    </div>

