@model Asiservy.Automatizacion.Datos.Datos.sp_Consultar_Cuchillos_Preparacion

@{
    ViewBag.Title = "MantenimientoCuchilloPreparacion";
}

<h2>Mantenimiento Cuchillo Preparacion</h2>

<style>
    input, select, textarea {
        max-width: 100%;
    }
</style>


@*@ViewBag.Linea*@
<hr />
<div class="row" id="divCabecera1">
    <div class="col-md-2 col-6 col-sm-6">
        <div class="form-group">
            <label>Código Cuchillo</label>
            <input style="text-transform:uppercase;" type="text" name="name" value="" onkeyup="ListarCuchillocPreparacion(1)" id="txtCodigoCuchillo" class="form-control" />
        </div>
    </div>
    <div class="col-md-5 col-6 col-sm-6">
        <div class="form-group">
            <label>Descripción</label>
            <input type="text" name="name" value="" id="txtDescripcion" class="form-control" />
        </div>
    </div>
    <div class="col-md-3 col-6" id="ModalCheckBox">
        <div class="form-group" >
            <label>Estado</label>
            <div class="custom-control custom-checkbox mb-3">
                @Html.CheckBox("EstadoRegistro", true, new { @id = "CheckEstadoRegistroOp", @class = "custom-control-input", @onchange = "CambioEstado(this.checked)" })
                <label class="custom-control-label" for="CheckEstadoRegistroOp" id="LabelEstado">Estado Registro</label>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-12  text-md-left text-center">
        <label class="" id="lblAcciones">Acciones</label>
        <div class="form-group">
            @*<input type="button" name="name" value="Consultar" id="btnConsultar" class="btn btn-primary" onclick="CargarReporteAvance()" />*@
            <button data-toggle="tooltip" data-placement="top" title="Crear nuevo registro" class="btn" id="btnModalGenerarRegistro" onclick="GuardarModificarCuchilloPreparacion()" style="border-color:#2c3e50" type="button">
                <img style="width:100%" src="~/Content/icons/add24.png" />
            </button>

            <button hidden data-toggle="tooltip" data-placement="top" title="Editar" class="btn" id="btnModalEditar" onclick="GuardarModificarCuchilloPreparacion()" style="border-color:#2c3e50" type="button">
                <img style="width:100%" src="~/Content/icons/edit24.png" />
            </button>
        </div>
    </div>

</div>
<hr />
<div class="d-flex justify-content-center">
    <div id="spinnerCargando" hidden class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

@* CARGAR TABLA CON LOS CUCHILLOS EXISTENTES *@
<div class="table-responsive" id="DivCargarCuchillos">
    <table class="table-hover table-bordered table-striped table" style="cursor: pointer" id="tblDataTableCargar">
        <thead>
            <tr>
                <th>Id</th>
                <th>Codigo Cuchillo</th>
                <th>Descripcion</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody style="font-size:14px"></tbody>
    </table>
</div>

