<div id="prueba">

    <div class="row" id="">
        <div class="col-6 col-sm-6 col-md-4">
            <div class="form-group">
                <label>Fecha Produccion</label>
                <input type="date" class="form-control" disabled name="name" value="" />
            </div>
        </div>
        <div class="col-6 col-sm-6 col-md-4">
            <div class="form-group">
                <label>Turno</label>
                <input type="text" class="form-control" readonly name="name" value="" />
            </div>
        </div>
        <div class="col-6 col-sm-6 col-md-4">
            <div class="form-group">
                <label>Linea</label>
                <input type="text" class="form-control" readonly name="name" value="" />
            </div>
        </div>
    </div>
  
    <div id="chartCabecera2" class=""></div>
         
   
</div>