
@{
    ViewBag.Title = "ReporteControlEnvasesEnlatado";
}

<h4>Reporte Control Envases Enlatado</h4>

<div class="row">
    <div class="col-md-4">
        <input type="date" id="Fecha"/>
    </div>
</div>
