
    <div class="row" id="">
        <div class="col-6 col-sm-6 col-md-4">
            <div class="form-group">
                <label>Fecha Produccion</label>
                <label style="border-bottom:solid">22-01-22</label>
            </div>
        </div>
        <div class="col-6 col-sm-6 col-md-4">
            <div class="form-group">
                <label>Turno</label>
                <label style="border-bottom:solid">A</label>
            </div>
        </div>
        <div class="col-6 col-sm-6 col-md-4">
            <div class="form-group">
                <label>Linea</label>
                <label style="border-bottom:solid"></label>

            </div>
        </div>
    </div>
  
    <div id="chartCabecera2" class=""></div>
   