
@{
    ViewBag.Title = "ReporteControlEnvasesEnlatado";
}

<h4>Reporte Control Envases Enlatado</h4>
<br />
<div class="row">
    <div class="col-md-4 form-group">
        <input type="date" id="Fecha" class="form-control"/>
    </div>
</div>


