
@{
    ViewBag.Title = "FinalizaProyeccionProgramacionPreparacion";
}
<style>
    input, select, textarea {
        max-width: 100%;
    }
</style>
<h3>Finalizar Proyección Programación</h3>
<div class="row">
    <div class="col-md-3 col-sm-6">
        <label>Desde</label>
        <input type="date" class="form-control" id="txtFechaDesde" name="name" value="@DateTime.Now.AddMonths(-1).ToString("yyyy-MM-dd")" />
        <p class="text-danger" id="validaFechaDesde" hidden>Ingrese Fecha Desde</p>
    </div>
    <div class="col-md-3 col-sm-6">
        <label>Hasta</label>
        <input type="date" class="form-control" id="txtFechaHasta" name="name" value="@DateTime.Now.AddMonths(1).ToString("yyyy-MM-dd")" />
        <p class="text-danger" id="ValidaFechaHasta" hidden>Ingrese Fecha Hasta</p>
    </div>
    <div class="col-md-4 col-sm-12 text-sm-center text-md-left">
        <label>Acción</label>
        <div class="form-group">
            <button data-toggle="tooltip" data-placement="top" title="Consultar" class="btn" id="Consultar" onclick="CargarProyecciones()" style="border-color:#2c3e50" type="button">
                <img style="width:100%" src="~/Content/icons/ver24.png" />
            </button>
        </div>
    </div>
</div>

<hr />
<div id="spinnerCargando" hidden class="text-center">
    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Cargando...</span>
    </div>
</div>

<div class="text-center" style="color:#e4ac13" id="divMensaje">

</div>
<div id="divTableProyeccion" class="table-responsive">

</div>