
@{
    /**/

    ViewBag.Title = "ReporteProyeccionProgramacion";
}
<style>
    input, select, textarea {
        max-width: 100%;
    }
</style>
<h4>Reporte Proyección Programación</h4>

<div class="container-fluid">

    <div class="row">
        <div class="col-3">
            <input type="date" class="form-control" name="name" id="txtFecha" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
        </div>
        <div class="col-6 text-left">
            <input type="button" class="btn btn-primary" name="name" value="Consultar" onclick="CargarReporte()" />
        </div>
    </div>
    <br />
    <div id="DivTableReporteProyeccion" class="table-responsive"></div>
</div>

<link href="~/Content/DataTables/media/css/dataTables.bootstrap.css" rel="stylesheet" />
<link href="~/Content/DataTables/media/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="~/Content/DataTables/extensions/Buttons/css/buttons.bootstrap4.min.css" rel="stylesheet" />
<link href="~/Content/DataTables/extensions/Buttons/css/buttons.dataTables.min.css" rel="stylesheet" />
<script src="~/Scripts/DataTables/media/js/jquery.dataTables.min.js"></script>
<script src="~/Scripts/DataTables/media/js/dataTables.bootstrap4.min.js"></script>

<script src="~/Scripts/DataTables/extensions/Buttons/js/dataTables.buttons.min.js"></script>
<script src="~/Scripts/DataTables/extensions/Buttons/js/buttons.flash.min.js"></script>
<script src="~/Scripts/DataTables/media/js/dataTables.jszip.min.js"></script>
<script src="~/Scripts/DataTables/extensions/Buttons/js/buttons.html5.min.js"></script>
<script src="~/Scripts/DataTables/extensions/Buttons/js/buttons.print.js"></script>

<script src="~/Scripts/ProyeccionProgramacion/ReporteProyeccionProgramacion.js"></script>