
@{
    /**/

    ViewBag.Title = "ReporteProyeccionProgramacion";
}
<style>
    input, select, textarea {
        max-width: 100%;
    }
</style>
<h4>Reporte Proyección Programación</h4>

<div class="container-fluid">

    <div class="row">
        <div class="col-md-3 col-6">
            <input type="date" class="form-control" name="name" id="txtFecha" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
        </div>
        <div class="col-md-6 col-6 text-left">
            <button data-toggle="tooltip" data-placement="top" title="Consultar" class="btn" id="" onclick="CargarReporte()" style="border-color:#2c3e50" type="button">
                <img style="width:100%" src="~/Content/icons/ver24.png" />
            </button>

        </div>
    </div>
    <br />
    <div id="DivTableReporteProyeccion" class="table-responsive"></div>
</div>

