
@{
    ViewBag.Title = "ReporteProyeccionProgramacion";
}

<h3>Reporte Proyeccion Programacion</h3>


<div class="container-fluid">

    <div class="text-center">
        <input type="date" class="form-control" name="name" id="txtFecha" value="@DateTime.Now.ToString("yyyy-MM-dd")" />

        <input type="button" class="btn btn-primary"  name="name" value="Consultar" onclick="CargarReporte()"/>
    </div>
    <br />
    <div id="DivTableReporteProyeccion" class="table-responsive"></div>
</div>
<script src="~/Scripts/ProyeccionProgramacion/ReporteProyeccionProgramacion.js"></script>