
@{
/**/

ViewBag.Title = "ReporteProyeccionProgramacion";
}
<style>
    input, select, textarea {
        max-width: 100%;
    }
    .custom-checkbox .custom-control-input:disabled:checked ~ .custom-control-label::before {
        background-color: #01224b;
    }
</style>
<h3>Reporte Proyección Programación</h3>

<div class="row">
    <div class="col-md-4 col-10">
        <label>Fecha</label>
        <input type="date" id="txtFecha" class="form-control" name="name" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
    </div>
 
    <div class="col-md-1 text-md-left col-2 text-center">
        <label>Acción</label>
        <div class="form-group">
            <button data-toggle="tooltip" data-placement="top" title="Consultar" class="btn" id="Consultar" onclick="CargarReporte()" style="border-color:#2c3e50" type="button">
                <img style="width:100%" src="~/Content/icons/ver24.png" />
            </button>
        </div>
    </div>
    <div class="col-md-7 text-md-left col-12 text-center">
        <label>Estado</label>
        <table class="table-bordered table-responsive">
            <tr>
                <td>
                    <div class="custom-control custom-checkbox">
                        <input disabled type="checkbox" class="custom-control-input" id="Check1">
                        <label class="custom-control-label" for="Check1">Ingreso Preparación</label>
                    </div>
                </td>
                <td>
                    <div class="custom-control custom-checkbox">
                        <input disabled type="checkbox" class="custom-control-input" id="Check2">
                        <label class="custom-control-label" for="Check2">Edita Producción</label>
                    </div>
                <td>
                    <div class="custom-control custom-checkbox">
                        <input disabled type="checkbox" class="custom-control-input" id="Check3">
                        <label class="custom-control-label" for="Check3">Edita Preparación</label>
                    </div>
                </td>
                <td>
                    <div class="custom-control custom-checkbox">
                        <input disabled type="checkbox" class="custom-control-input" id="Check4">
                        <label class="custom-control-label" for="Check4">Finalizado</label>
                    </div>
                </td>
                <td>
                    <div class="custom-control custom-checkbox">
                        <input disabled type="checkbox" class="custom-control-input" id="Check5">
                        <label class="custom-control-label" for="Check5">Cerrado</label>
                    </div>
                </td>
               
            </tr>
        </table>
    </div>
   

</div>

<hr />
<div id="spinnerCargando" hidden class="text-center">
    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Cargando...</span>
    </div>
</div>

<div id="DivTableReporteProyeccion" class="table-responsive">

</div>