
@{
    /**/

    ViewBag.Title = "ReporteProyeccionProgramacion";
}
<style>
    input, select, textarea {
        max-width: 100%;
    }
</style>
<h4>Reporte Proyección Programación</h4>

<div class="container-fluid">

    <div class="row">
        <div class="col-md-3 col-6">
            <input type="date" class="form-control" name="name" id="txtFecha" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
        </div>
        <div class="col-md-6 col-6 text-left">
            <input type="button" class="btn btn-primary" name="name" value="Consultar" onclick="CargarReporte()" />
        </div>
    </div>
    <br />
    <div id="DivTableReporteProyeccion" class="table-responsive"></div>
</div>

