@using System.Text;
@{
    ViewBag.Title = "BandejaEvaluacionProductoEnfundado";
}
<style>
    .selectbox {
        background: #fff;
        color: #1d3b4a;
        padding: 5px 8px;
        line-height: 18px;
        border-radius: 4px;
        border-width: 0 1px 4px;
        cursor: pointer;
        border: 1px solid #ddd;
    }

   

    canvas {
        border: 1px solid black;
    }

    #ImgFirma {
        border: 1px solid black;
    }
</style>
<h4>Bandeja evaluación producto enfundado</h4>
<div class="row" id="DivFiltros">
    <div class="col-md-2 col-sm-3 form-group">
        <label>Estado</label>
        <select id="cmbEstadoControl" class="form-control" onchange="CargarBandeja()">
            <option value="false" default>PENDIENTE</option>
            <option value="true">APROBADO</option>
        </select>
    </div>

    <div class="col-md-5 col-sm-7 form-group" id="divDateRangePicker" hidden>
        <label>Filtrar por Fecha:</label>
        <input type="hidden" id="fechaDesde" value="" />
        <input type="hidden" id="fechaHasta" value="" />
        <div id="reportrange" class="selectbox">
            <i class="fa fa-calendar"></i>&nbsp;
            <span></span> <i class="fa fa-caret-down" style="float:right"></i>
        </div>
    </div>

    <div class="col-md-5 col-sm-2">
        <label>Acciones</label>
        <div class="form-group">
            <button data-toggle="tooltip" data-placement="top" title="Consultar" class="btn" id="Nuevo" onclick="CargarBandeja()" style="border-color:#2c3e50" type="button">
                <img style="width:100%" src="~/Content/icons/ver24.png" />
            </button>
        </div>
    </div>
</div>
<br />
<center> <h4 id="MensajeRegistros" style="display:none" class="text-warning">No se encontraron registros</h4> </center>

<div id="DivEvaluacionLomosMigas" class="table-responsive">

</div>

<!-- The Modal -->
<div class="modal fade" id="ModalDetalle" data-backdrop="static">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div id="divconfirm" hidden>

                </div>
      
                <div id="DivDetalle" class="table-responsive">

                </div>
               <br />
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#fotoprod" id="fotoprodtab">Foto código de producto</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#foto1" id="foto1tab">Producto foto 1</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#foto2" id="foto2tab">Producto foto 2</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#foto3" id="foto3tab">Producto foto 3</a>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content" id="divtabfotos">
                            <div class="tab-pane container-fluid active" id="fotoprod">
                                <br />
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        @*<div class="custom-file">
                                    <input type="file" class="custom-file-input" id="file-uploadcod" accept="image/*">
                                    <label class="custom-file-label" for="customFile">Seleccione archivo</label>
                                </div>*@
                                        <br />
                                        <div class="text-center" style="justify-content:center">
                                            <div id="file-preview-zone1" style="height:auto">
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane container-fluid fade" id="foto1">
                                <br />
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        @*<div class="custom-file">
                                    <input type="file" class="custom-file-input" id="file-upload1" accept="image/*">
                                    <label class="custom-file-label" for="customFile">Seleccione archivo</label>
                                </div>*@
                                        <br />
                                        <div class="text-center" style="justify-content:center">
                                            <div id="file-preview-zone2" style="height:auto">
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane container-fluid fade" id="foto2">
                                <br />
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        @*@*<div class="custom-file">
                                    <input type="file" class="custom-file-input" id="file-upload2" accept="image/*">
                                    <label class="custom-file-label" for="customFile">Seleccione archivo</label>
                                </div>*@
                                        <br />
                                        <div class="text-center" style="justify-content:center">
                                            <div id="file-preview-zone3" style="height:auto">
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane container-fluid fade" id="foto3">
                                <br />
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        @*<div class="custom-file">
                                    <input type="file" class="custom-file-input" id="file-upload3" accept="image/*">
                                    <label class="custom-file-label" for="customFile">Seleccione archivo</label>
                                </div>*@
                                        <br />
                                        <div class="text-center" style="justify-content:center">
                                            <div id="file-preview-zone4" style="height:auto">
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                @*<div id="signature-pad" class="align-self-md-center align-self-sm-center" hidden>
            <button type="button" class="btn" data-action="clear" style="border-color:#2c3e50"><img style="width:100%" src="~/Content/icons/clear24.png" /></button>

            <div>
                <canvas width=400 height=200 id="firmacanvas"></canvas>
            </div>

        </div>*@
                @*<div id="div_ImagenFirma" class="align-self-md-center align-self-sm-center" hidden>


            <img id="ImgFirma" width="400" height="200" src="" />

        </div>*@


            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnAprobar" onclick="ConfirmarAprobar()">Aprobar</button>
                <button type="button" class="btn btn-primary" id="btnReversar" onclick="ConfirmarReversar()" hidden>Reversar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btncerrar">Cerrar</button>
            </div>
        </div>
</div>
</div>
