
@{
    ViewBag.Title = "BandejaEvaluacionLomoMigaBandeja";
}

<h2>Bandejo de evaluación de lomos y migas en bandejas</h2>

<div class="row" id="DivFiltros">
    <div class="col-md-2 col-sm-6 form-group">
        <label>Estado del Registro</label>
        <select id="cmbEstadoControl" class="form-control" onchange="FiltrarAprobadosFecha()">
            <option value="false" default>PENDIENTE</option>
            <option value="true">APROBADO</option>
        </select>
    </div>

    <div class="col-md-5 col-sm-6 form-group" id="divDateRangePicker">
        <label>Filtrar por Fecha:</label>
        <input type="hidden" id="fechaDesde" value="" />
        <input type="hidden" id="fechaHasta" value="" />
        <div id="reportrange" class="selectbox">
            <i class="fa fa-calendar"></i>&nbsp;
            <span></span> <i class="fa fa-caret-down"></i>
        </div>
    </div>

    <div class="col-5">
        <label>Acciones</label>
        <div class="form-group">
            <button data-toggle="tooltip" data-placement="top" title="Consultar" class="btn" id="Nuevo" onclick="FiltrarAprobadosFecha()" style="border-color:#2c3e50" type="button">
                <img style="width:100%" src="~/Content/icons/ver24.png" />
            </button>
        </div>
    </div>
</div>