@model Asiservy.Automatizacion.Formularios.AccesoDatos.Nomina.ModeloVistaAsistencia
<style>
    input, select, textarea {
        max-width: 100%;
    }

    .selectbox {
        background: #fff;
        color: #1d3b4a;
        padding: 5px 8px;
        line-height: 18px;
        border-radius: 4px;
        border-width: 0 1px 4px;
        cursor: pointer;
        border: 1px solid #ddd;
    }

    .box_filters {
        float: right;
    }

    .itemFilter {
        float: left;
        margin-right: 4px;
    }

    .btnWait {
        cursor: no-drop !important;
    }

    #detallePorDia, #detallePorGeneroPermisos, #detallePorPermiso, #exportExcel {
        display: none;
    }

    ._bloque {
        margin-bottom: 10px;
    }

    .mostrarBloques {
        display: flex !important;
    }
    table.tablaTotales {
        width: 100%;
    }
    span.cantidad {
        float: right;
        font-weight: bold;
    }
    .boxTitle {
        font-size: 25px;
    }
    .boxNumero {
        font-size: 41px;
    }
    span#txtCantAusentesSinPermiso {
        color: red;
    }
    span#txtCantAusentes {
        color: #dabd31;
    }
    span#txtCantAusentesPermiso {
        color: blue;
    }
    span#txtCantAsistieron {
        color: green;
    }
    .seccion_export {
        display: flex;
        margin-bottom: 4px;
    }
</style>
<div class="row">
    <div class="col-12">
        <h3 style="float: left;">Reporte de asistencia</h3>
        <div id="DatosLoadAjax" class="cargandoAjax fa-2x"> <i class="fas fa-spinner fa-pulse"></i> </div>
        <div class="box_filters">
            <div class="itemFilter">
                <select class="form-control" id="select_empresa">
                    <option value="0">Todas las empresas</option>
                    @foreach (var empresa in Model.ListaEmpresas)
                    {
                        <option value="@empresa.Codigo">@empresa.Descripcion</option>
                    }
                </select>
            </div>
            <div class="itemFilter">
                <input type="text" id="txtCedulaUsuario" class="form-control" value="" placeholder="Buscar por cédula" />
            </div>
            <div class="itemFilter">
                <input type="hidden" id="fechaDesde" value="" />
                <input type="hidden" id="fechaHasta" value="" />
                <div id="reportrange" class="selectbox">
                    <i class="fa fa-calendar"></i>&nbsp;
                    <span></span> <i class="fa fa-caret-down"></i>
                </div>
            </div>
            <div class="itemFilter">
                <a href="#" id="generarAsistencia" class="btn btn-primary btn-sm"><i id="iconSearch" class="fas fa-search"></i></a>
            </div>

        </div>
    </div>
</div>
<div class="row _bloque" id="detallePorGeneroPermisos">
    <div class="col-6">
        <div class="card shadow">
            <div class="card-header">
                <h6 class="m-0 font-weight-bold text-primary">Resumen total</h6>
            </div>
            <div class="card-body">
                <table class="tablaTotales">
                    <tr class="itemBoxTotales">
                        <td class="boxTitle">
                            <span class="titulo">Cantidad de personas</span>
                        </td>
                        <td class="boxNumero">
                            <span id="txtCantTotalPersonas" class="cantidad"></span>
                        </td>

                    </tr>

                    <tr class="itemBoxTotales">
                        <td class="boxTitle">
                            <span class="titulo">Asistieron</span>
                        </td>
                        <td class="boxNumero">
                            <span id="txtCantAsistieron" class="cantidad"></span>
                        </td>

                    </tr>

                    <tr class="itemBoxTotales">
                        <td class="boxTitle">
                            <span class="titulo">Se ausentaron</span>
                        </td>
                        <td class="boxNumero">
                            <span id="txtCantAusentes" class="cantidad"></span>
                        </td>

                    </tr>

                    <tr class="itemBoxTotales">
                        <td class="boxTitle">
                            <span class="titulo">Ausentes con permiso</span>
                        </td>
                        <td class="boxNumero">
                            <span id="txtCantAusentesPermiso" class="cantidad"></span>
                        </td>

                    </tr>

                    <tr class="itemBoxTotales">
                        <td class="boxTitle">
                            <span class="titulo">Ausentes sin permiso</span>
                        </td>
                        <td class="boxNumero">
                            <span id="txtCantAusentesSinPermiso" class="cantidad"></span>
                        </td>

                    </tr>
                </table>

            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card shadow">
            <div class="card-header">
                <h6 class="m-0 font-weight-bold text-primary">Ausentismo por género</h6>
            </div>
            <div class="card-body">
                <div id="chartGenero"></div>
                <div id="descGenero">
                    <table class="table">
                        <tr>
                            <th>Género</th>
                            <th>Ausentes</th>
                            <th>Con Permiso</th>
                            <th>Sin Permiso</th>
                        </tr>
                        <tbody id="bodyTblDatosGenero"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row _bloque" id="detallePorPermiso">
    <div class="col-12">
        <div class="card shadow">
            <div class="card-header">
                <h6 class="m-0 font-weight-bold text-primary">Permisos otorgados</h6>
            </div>
            <div class="card-body">
                <div id="chartPermisos"></div>
            </div>
        </div>
    </div>
</div>
<div class="row _bloque" id="detallePorDia">
    <div class="col-12">
        <div class="card shadow">
            <div class="card-header">
                <h6 class="m-0 font-weight-bold text-primary">Nivel de ausentismo por día</h6>
            </div>
            <div class="card-body">
                <div id="chartDiario"></div>
            </div>
        </div>
    </div>
</div>
<div class="row _bloque">
    <div class="col-12">
        <div class="card shadow">
            <div class="card-header">
                <h6 class="m-0 font-weight-bold text-primary">Datos generales</h6>
            </div>
            <div class="card-body">
                <div class="seccion_export">
                    <a class="btn btn-primary btn-sm" href="#" id="exportExcel"><i class="fas fa-file-csv"></i> Descargar CSV</a>
                </div>
                <div id="data-asistencia" class="">

                </div>
            </div>
        </div>
    </div>
</div>




