@{
    ViewBag.Title = "Empleados Clientes SAP";
}
<style>
    .custom-btn {
        cursor: pointer;
        margin-right: 5px;
    }
</style>
<h4>Empleados Clientes SAP</h4>
<hr />
<br />
<div id="DivTableEmpleadosClientes" class="table-responsive">
    <div class="text-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Cargando...</span>
        </div>
    </div>
</div>

