<style>
    input, select, textarea {
        max-width: 100%;
    }

    .selectbox {
        background: #fff;
        color: #1d3b4a;
        padding: 5px 8px;
        line-height: 18px;
        border-radius: 4px;
        border-width: 0 1px 4px;
        cursor: pointer;
        border: 1px solid #ddd;
    }

    .box_filters {
        float: right;
    }

    .itemFilter {
        float: left;
        margin-right: 4px;
    }

    .btnWait {
        cursor: no-drop !important;
    }

    #seccionNuevaMarcacion {
        display: none;
    }

    .muestraSeccion {
        display: flex !important;
    }

    .mostrarBloques {
        display: flex !important;
    }

    #wdr-component-horas {
        height: 800px !important;
    }
</style>
<div class="row">
    <div class="col-12">
        <h3 style="float: left;">Reporte de horas hombre detallado</h3>
        <div id="DatosLoadAjax" class="cargandoAjax fa-2x"> <i class="fas fa-spinner fa-pulse"></i> </div>
        <div class="box_filters">

            <div class="itemFilter">
                <input type="hidden" id="fechaDesde" value="" />
                <input type="hidden" id="fechaHasta" value="" />
                <div id="reportrange" class="selectbox">
                    <i class="fa fa-calendar"></i>&nbsp;
                    <span></span> <i class="fa fa-caret-down"></i>
                </div>
            </div>
            <div class="itemFilter">
                <a href="#" id="generarReporte" class="btn btn-primary btn-sm"><i id="iconSearch" class="fas fa-search"></i></a>
            </div>
        </div>
    </div>


</div>
<br />
<div class="row">
    <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Resumen de personas y horas</h6>

            </div>
            <div class="card-body">
                <div id="wdr-component-horas"></div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-12">
        <h3 style="float: left;">Tabla de información</h3>
        <div class="table-responsive">
            <table class="table-hover table-bordered table-striped table" style="cursor: pointer" id="tblDataTable">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Cédula</th>
                        <th>Empleado</th>
                        <th>Código CC</th>
                        <th>Centro de Costo</th>
                        <th>Línea</th>
                        <th>Código Recurso</th>
                        <th>Recurso</th>
                        <th>Cargo</th>
                        <th>Turno</th>
                        <th>Inicio</th>
                        <th>Fin</th>
                        <th>Horas Reloj</th>
                        <th>Dcto. Almuerzo</th>
                        <th>Dcto. Cena</th>
                        <th>Horas Laboradas</th>
                        <th>Sin finalizar asistencia</th>
                        <th>Tipo rol</th>
                    </tr>
                </thead>
                <tbody style="font-size:14px" id="bodyData"></tbody>
            </table>
        </div>

    </div>
</div>