.topbar {
    height: 3rem;
}

.navbar {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

th, td {
    white-space: nowrap;
    padding: 0.5rem;
}

.table td {
    padding: 0.4rem;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: rgba(34, 60, 112, 0.70);
    color: white;
}

div.dataTables_wrapper {
    margin: 0 auto;
}

div.container {
    width: 80%;
}

.col-md-3 .col-md-2 .col-md-4 {
    padding-right: 0px;
    padding-left: 10px;
}

.form-group {
    margin-bottom: 0.6rem;
}

label {
    display: inline-block;
    margin-bottom: 0rem;
}

thead {
    color: #00264c;
}
tbody{
    font-size:13px;
    color:rgba(0, 0, 0, 1)
}


.form-control {
    padding: 0rem 0.30rem;
    height: 30px;
    font-size: 13px;
}

hr {
    margin-top: 0.5rem;
    margin-bottom: 1rem; 
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.mb-4, .my-4 {
    margin-bottom: 0.0rem !important;
}

.alert.alert-success {
    width: 100%;
    height: min-content;
    padding: 5px;
}

div.relative1 {
    position: relative;
    width: 100%;
    height: 100%;

}

div.absolute1 {
    position: absolute;   
    width: 100%;
   
}

#wrapper #content-wrapper {
    background-color: #f8f9fc;
    width: 100%;
    overflow-x: hidden; 
    overflow-y: hidden;
}

/*#response {
    position: ;
    top: initial;
    left: 20%;
    right: 0;
    margin: 0 auto;
    width: 100%;
}*/