.topbar {
    height: 3rem;
}

.navbar {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

th, td {
    white-space: nowrap;
    padding: 0.5rem;
}

.table td {
    padding: 0.4rem;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: rgba(34, 60, 112, 0.70);
    color: white;
}

div.dataTables_wrapper {
    margin: 0 auto;
}

div.container {
    width: 80%;
}

.col-md-3 .col-md-2 .col-md-4 {
    padding-right: 15px;
    padding-left: 10px;
}

.form-group {
    margin-bottom: 0.6rem;
}

label {
    display: inline-block;
    margin-bottom: 0rem;
}

tbody{
    font-size:13px;
}

.form-control {
    padding: 0.20rem 0.30rem;
    height: calc(1.5em + 0.55rem + 2px);
}

hr {
    margin-top: 0.5rem;
    margin-bottom: 1rem; 
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.mb-4, .my-4 {
    margin-bottom: 0.0rem !important;
}

.alert.alert-success {
    width: 100%;
    height: min-content;
    padding: 5px;
}