
@{
    ViewBag.Title = "CondicionPersonal";
}

<style>
    input, select, textarea {
        max-width: 100%;
    }
</style>

<h2> Control Condicion del Personal</h2>


<hr />
<div class="card shadow" id="divCabecera" style="padding:10px">
    <div class="row" id="divCabecera1">
        <input type="hidden" id="txtIdCondicionPersonal" name="name" value="0" />
        <div class="col-md-4 col-6 col-sm-6">
            <div class="form-group">
                <label>Fecha</label>
                <input type="date" class="form-control" id="txtFecha" name="name" onchange="ConsultarControl()" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
            </div>
        </div>
        <div class="col-md-4 col-6 col-sm-6">
            <div class="form-group">
                <label>Hora</label>
                <input type="time" class="form-control" id="txtHora" name="name" value="@DateTime.Now.ToString("HH:mm")" />
            </div>
        </div>
        <div class="col-md-4 col-6 col-sm-6">
            <div class="form-group">
                <label>Condición</label>
                @Html.DropDownList("selectCondicion", new SelectList(ViewBag.Condiciones, "IdMantenimientoCondicion", "Descripcion"), "Seleccione", new { @class = "form-control" })
            </div>
        </div>

        <div class="col-md-3 col-6 col-sm-6">
            <div class="form-group">
                <label class="label-control"> Linea</label>
                @Html.DropDownList("Lineas", new SelectList(ViewBag.Lineas, "Codigo", "Descripcion"), "Seleccione", new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-3 col-12 col-sm-12">
            <div class="form-group">
                <label class="control-label">Nombre</label>
                <input type="hidden" id="Cedula" name="name" value="" />
                <div id="" class="input-group">
                    <input type="text" class="form-control" id="Nombre" readonly name="name" value="" />
                    <button type="button" onclick="CargarEmpleados('CargarEmpleadoAS');" id="CargarEmpleadoAS">
                        <img src="~/Content/images/buscar.png" />
                    </button><br />
                </div>
            </div>
        </div>

        <div class="col-md-6 col-6 col-sm-6">
            <div class="form-group">
                <label class="label-control"> Observacion</label>
                <input type="text" size="250" class="form-control" id="txtObservacion" name="name" value="" />
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-12 col-12 text-center">
        <label class="">Acciones</label>

        <div class="form-group">
            @*<input type="button" name="name" value="Consultar" id="btnConsultar" class="btn btn-primary" onclick="CargarReporteAvance()" />*@
            <button data-toggle="tooltip" data-placement="top" title="Generar" class="btn" id="btnGenerar" onclick="GuardarControl()" style="border-color:#2c3e50" type="button">
                <img style="width:100%" src="~/Content/icons/add24.png" />
            </button>

            @*<input type="button" name="name" value="Consultar" id="btnConsultar" class="btn btn-primary" onclick="CargarReporteAvance()" />*@
            <button data-toggle="tooltip" data-placement="top" title="Nuevo" class="btn" id="btnNuevo" onclick="NuevoControl()" style="border-color:#2c3e50" type="button">
                <img style="width:100%" src="~/Content/icons/clear24.png" />
            </button>

            @*<button hidden data-toggle="tooltip" data-placement="top" title="Editar" class="btn" id="btnEditar" onclick="ModalEditarControl()" style="border-color:#2c3e50" type="button">
                <img style="width:100%" src="~/Content/icons/edit24.png" />
            </button>

            <button hidden data-toggle="tooltip" data-placement="top" title="Atras" class="btn" id="btnAtras" onclick="AtrasControlPrincipal()" style="border-color:#2c3e50" type="button">
                <img style="width:100%" src="~/Content/icons/atras24.png" />
            </button>*@
        </div>
    </div>
</div>


<div id="divCabecera2" hidden>
    <div class="card shadow">
        <div class="card-body">
            <div class="d-flex justify-content-center">
                <div id="spinnerCargando" hidden class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>

            <div id="chartCabecera2" class="table-responsive"></div>
        </div>
    </div>
</div>

<div id="ModelCargarEmpleados">
</div>