@using Asiservy.Automatizacion.Datos.Datos;
@using Newtonsoft.Json;

@{
    ViewBag.Title = "ReporteCondicionPersonal";
    var model = (List<MANTENIMIENTO_CONDICION>)ViewBag.Condiciones;
    var cantidad = model.Count();
    //   var condicionesJSON = JsonConvert.SerializeObject(ViewBag.Condiciones);
}

<style>
    input, select, textarea {
        max-width: 100%;
    }
    .embed-container {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
    }

        .embed-container iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 80%;
        }
</style>

<h2>Reporte de Condiciones del Personal</h2>

<input type="hidden" id="txtCantidadCondiciones" name="name" value="@cantidad" />

<div class="card shadow" id="divCabecera" style="padding:10px">
    <div class="row" id="divCabecera1">
        <div class="col-md-3 col-6 col-sm-6">
            <div class="form-group">
                <label>Fecha</label>
                <input type="date" name="name" value="@DateTime.Now.ToString("yyyy-MM-dd")" onchange="ConsultarReporte()" id="txtFecha" class="form-control" />
            </div>
        </div>

        <div class="col-md-3 col-12 text-center text-md-left">
            <label class="">Acción</label>

            <div class="form-group">
                @*<input type="button" name="name" value="Consultar" id="btnConsultar" class="btn btn-primary" onclick="CargarReporteAvance()" />*@
                <button data-toggle="tooltip" data-placement="top" title="Consultar" class="btn" id="btnConsultar" onclick="ConsultarReporte()" style="border-color:#2c3e50" type="button">
                    <img style="width:100%" src="~/Content/icons/ver24.png" />
                </button>

            </div>
        </div>

        @*<div class="col-md-3 col-6">
                <div class="form-group">
                    <br />
                    <div style="border:inset">
                        <div>
                            <label>Frecuencia: <b>3horas</b></label>
                            <br />
                            <label>Min: <b>200ppm</b></label>
                        </div>
                    </div>
                </div>
            </div>*@
    </div>
</div>

<div id="divCabecera2" hidden>
    <div class="card shadow">
        <div class="card-body">
            <div class="d-flex justify-content-center">
                <div id="spinnerCargando" hidden class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <h3 id="txtMensaje"></h3>
            <div id="chartCabecera2" class="table-responsive">
                <table class="table-hover table-bordered table-striped table" style="cursor: pointer" id="tblDataTableCargar">
                    <thead>
                        <tr>
                            <td>Cedula</td>
                            <td>Nombre</td>
                            <td>Condición</td>
                            <td>Observación</td>
                        </tr>
                    </thead>
                    <tbody></tbody>

                </table>
            </div>
            <hr />
            <div>
                <table class="table-hover table-bordered table-striped table" style="cursor: pointer" id="tblDataTable2">
                    <thead>
                        <tr>
                            <td>Condición</td>
                            <td>Incumplimientos</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var x in model)
                        {
                            <tr>
                                <td>@x.Descripcion</td>
                                <td class="text-center"> <label id="txt_@x.IdMantenimientoCondicion">0</label> </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<br />
@*<div class="text-center embed-container">
    <iframe src="~/AspxReportes/WebForm1.aspx" width="1 00" height="100"></iframe>
</div>*@
