<!-- Modal -->
<div class="modal fade" id="ModalAdvertencia" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Mensaje del Sistema</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-warning" id="mensajeAdvertencia">

            </div>
            <div class="modal-footer">
                @if (ViewBag.reload == true)
                {
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="MensajeCloseReload()">Close</button>
                }
                else
                {
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="MensajeClose()">Close</button>
                }
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
