<!--Modal: modalConfirmDelete-->
<div class="modal fade" id="ModalError" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" data-backdrop="static"
     aria-hidden="true">
    <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
        <!--Content-->
        <div class="modal-content text-center">
            <!--Header-->
            <div class="modal-header d-flex justify-content-center bg-danger">
                <p class="heading">SISTEMAS</p>
            </div>

            <!--Body-->
            <div class="modal-body">
                <div class="modal-body font-weight-bold" id="mensajeError">
                </div>

                <!--Footer-->
                <div class="modal-footer flex-center">
                    @if (ViewBag.reload == true)
                    {
                    <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal" onclick="MensajeCloseReload()">Cerrar</button>
                    }
                    else
                    {
                    <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal" onclick="MensajeClose()">Cerrar</button>
                    }

                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>
    <!--Modal: modalConfirmDelete-->
    </div>