@model IEnumerable<Asiservy.Automatizacion.Datos.Datos.spConsultaProductoTerminadoTiempoPara>


<table class="table table-bordered">
    <tr>      
        <th>
           Inicio
        </th>
        <th>
            Fin
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Causa)
        </th>
       
    </tr>

@foreach (var item in Model) {
    <tr>       
        <td>
            @Html.DisplayFor(modelItem => item.HoraInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoraFin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Causa)
        </td>
       
    </tr>
}

</table>
