
@{
    ViewBag.Title = "Home";
}
<div>
    <center> <img src="~/Content/images/asiservylogo1.jpg" /></center>
    <center><img src="~/Content/images/pez-salto.gif" /></center>
</div>

<script src="~/Scripts/jquery-3.0.0.min.js"></script>
<script>
    $('#logoutli').show();
</script>
