
@{
    ViewBag.Title = "Home";
}
<div class="text-center">
    <div style="padding-top:10%"> <img src="~/Content/images/pez2.png" /></div>
  
</div>









<script>
    $('#logoutli').show();

</script>
