
@{
    ViewBag.Title = "ViewPrueba";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="~/Content/PruebaStyle/prueba.css" rel="stylesheet" />
</head>
<body>
    
    <div style="padding-top: 100px; padding-bottom: 100px">

        <div class="table-responsive">

            <table class="table">
                <tr>
                    <td>Listado</td>
                    <td>Check</td>
                    <td>Estado</td>
                    <td colspan="3">Cuchillos</td>
                    <td> Observación</td>
                </tr>
                <tr>
                    <td>
                        José Delgado
                    </td>
                    <td>
                        <label class="container">
                            <input type="checkbox" class="check">
                            <span class="checkmark"></span>
                        </label>
                    </td>

                    <td>
                        <select class="custom-select">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </td>
                    <td>
                        <label class="container">
                            <input type="checkbox" class="check">
                            <span class="checkmark">21</span>
                        </label>
                    </td>
                    <td>
                        <label class="container">
                            <input type="checkbox" class="check">
                            <span class="checkmark">22</span>
                        </label>
                    </td>
                    <td>
                        <label class="container">
                            <input type="checkbox" class="check">
                            <span class="checkmark">23</span>
                        </label>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control" id="Observacion" placeholder="Observacion">
                        </div>
                    </td>

                </tr>

            </table>

        </div>
    
    </div>


</body>
</html>
