
@{
    ViewBag.Title = "BandejaAnalisisQuimicoProductoSemielaborado";
}
<style>
    .selectbox {
        background: #fff;
        padding: 5px 8px;
        line-height: 18px;
        border-radius: 4px;
        border-width: 0 1px 4px;
        cursor: pointer;
        border: 1px solid #ddd;
    }

    .btnWait {
        cursor: no-drop !important;
    }
</style>
<h4>Bandeja Análisis Químico de Producto Semielaborado</h4>

<div class="row" id="DivFiltros">
    <div class="col-md-2 col-sm-6 form-group">
        <label>Estado del Registro</label>
        <select id="cmbEstadoControl" class="form-control" onchange="CargarBandeja()">
            <option value="false" default>PENDIENTE</option>
            <option value="true">APROBADO</option>
        </select>
    </div>

    <div class="col-md-5 col-sm-6 form-group" id="divDateRangePicker" hidden>
        <label>Filtrar por Fecha:</label>
        <input type="hidden" id="fechaDesde" value="" />
        <input type="hidden" id="fechaHasta" value="" />
        <div id="reportrange" class="selectbox">
            <i class="fa fa-calendar"></i>&nbsp;
            <span></span> <i class="fa fa-caret-down" style="float:right"></i>
        </div>
    </div>

    <div class="col-5">
        <label>Acciones</label>
        <div class="form-group">
            <button data-toggle="tooltip" data-placement="top" title="Consultar" class="btn" id="Nuevo" onclick="CargarBandeja()" style="border-color:#2c3e50" type="button">
                <img style="width:100%" src="~/Content/icons/ver24.png" />
            </button>
        </div>
    </div>
</div>
<br />
<center> <h4 id="MensajeRegistros" style="display:none" class="text-warning">No se encontraron registros</h4> </center>

<div id="DivAnalisisQuimicoProductoSemiElaborado" class="table-responsive">

</div>

<!-- The Modal -->
<div class="modal fade" id="ModalDetalle" data-backdrop="static">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Análisis químico de producto semielaborado</h4>
                <button type="button" class="close" data-dismiss="modal" id="btnclose">&times;</button>
            </div>

            <!-- Modal body -->

            <div class="modal-body table-responsive">
                <div id="divconfirm" hidden>
                </div>

                <div id="DivDetalle">

                </div>
                
            </div>
            <div class="modal-footer">
                <div class="form-group" id="divfechaap">
                    @*<label>Fecha Aprobación:</label>*@
                    <input type="hidden" id="fechacontrol" value="" />

                    <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1" id="txtfechaaprob" />
                        <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @*<button type="button" class="btn btn-primary" id="btnAprobar" onclick="ConfirmarAprobar()">Aprobar</button>*@
                    <button type="button" class="btn btn-primary" id="btnAprobar" onclick="AprobarControl()">Aprobar</button>

                    @*<button type="button" class="btn btn-primary" id="btnReversar" onclick="ConfirmarReversar()" hidden>Reversar</button>*@
                    <button type="button" class="btn btn-primary" id="btnReversar" onclick="ReversarControl()" hidden>Reversar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btncerrar">Cerrar</button>
                </div>
            </div>

        </div>
    </div>
</div>

@*modal aprobar cabecera*@
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="ModalAprobar" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h6 class="modal-title">¿Esta seguro que desea aprobar el control?</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="btnsicab" onclick="AprobarControl()">Si</button>
                <button type="button" class="btn btn-primary" id="btnnocab" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

@*modal Reversar cabecera*@
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="ModalReversar" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h6 class="modal-title">¿Esta seguro que desea reversar el control?</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="btnsicab" onclick="ReversarControl()">Si</button>
                <button type="button" class="btn btn-primary" id="btnnocab" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>