@model ICollection<Asiservy.Automatizacion.Datos.Datos.CC_ANALISIS_QUIMICO_PRODUCTO_SEMIELABORADO_TIPO>
@using Newtonsoft.Json
@using Asiservy.Automatizacion.Datos.Datos
<table class="table table-bordered table-striped">
    <thead>
        <tr>

            <th>
                Tipo Producto
            </th>
           @foreach (var item in Model.FirstOrDefault().CC_ANALISIS_QUIMICO_PRODUCTO_SEMIELABORADO_PARAMETROXTIPO)
           {
               <th>
                   @item.CC_PARAMETROS_LABORATORIO.DescripcionParametro
               </th>
           }



            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            List<dynamic> lista = new List<dynamic>();
            foreach (var listaParam in item.CC_ANALISIS_QUIMICO_PRODUCTO_SEMIELABORADO_PARAMETROXTIPO)
            {
                lista.Add(new {listaParam.ParametroLaboratorio, listaParam.Cantidad });
            }
            dynamic ObjTipo = new {
                IdDetalleAnalisisQuimicoProductoSe = item.IdDetalleAnalisisQuimicoProductoSe,
                IdTipoAnalisisQuimicoProductoSe = item.IdTipoAnalisisQuimicoProductoSe,
                TipoProducto = item.TipoProducto,
                CC_ANALISIS_QUIMICO_PRODUCTO_SEMIELABORADO_PARAMETROXTIPO = lista
            };

            var json = JsonConvert.SerializeObject(ObjTipo);
            string Tipo = item.TipoProducto == "L" ? "Lomo" : item.TipoProducto == "M" ? "Miga" : item.TipoProducto == "T" ? "Trozo" : item.TipoProducto;
            <tr>

                <td>
                   @Tipo
                </td>
                @foreach (var ListaCant in item.CC_ANALISIS_QUIMICO_PRODUCTO_SEMIELABORADO_PARAMETROXTIPO)
                {
                <td>
                    @ListaCant.Cantidad
                </td>
                }


                <td>
                    <a href="#" onclick="EditarSubDetalle(@json)">Editar</a>|
                    <a href="#" onclick="ConfirmarEliminarSubDetalle(@json)">Eliminar</a>|

                </td>
            </tr>
        }
    </tbody>

</table>
