@model ICollection<Asiservy.Automatizacion.Datos.Datos.CC_ANALISIS_QUIMICO_PRODUCTO_SEMIELABORADO_TIPO>
@using Newtonsoft.Json
@using Asiservy.Automatizacion.Datos.Datos
<table class="table table-bordered table-striped">
    @{
        int ContMax = 0;

        foreach (var c in Model)
        {
            ContMax = c.CC_ANALISIS_QUIMICO_PRODUCTO_SEMIELABORADO_PARAMETROXTIPO.Count > ContMax ? c.CC_ANALISIS_QUIMICO_PRODUCTO_SEMIELABORADO_PARAMETROXTIPO.Count : ContMax;

        }
        var ObjetoMasParametros = Model.FirstOrDefault(x => x.CC_ANALISIS_QUIMICO_PRODUCTO_SEMIELABORADO_PARAMETROXTIPO.Count == ContMax);
    }
    <thead>
        <tr>

            <th>
                Tipo Producto
            </th>
            @foreach (var item in ObjetoMasParametros.CC_ANALISIS_QUIMICO_PRODUCTO_SEMIELABORADO_PARAMETROXTIPO.OrderBy(x=>x.ParametroLaboratorio))
            {
                <th>
                    @item.CC_PARAMETROS_LABORATORIO.DescripcionParametro
                </th>
            }



            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            int cont = 0;
            List<dynamic> lista = new List<dynamic>();
            foreach (var listaParam in item.CC_ANALISIS_QUIMICO_PRODUCTO_SEMIELABORADO_PARAMETROXTIPO)
            {
                lista.Add(new { listaParam.ParametroLaboratorio, listaParam.Cantidad });
            }
            dynamic ObjTipo = new
            {
                IdDetalleAnalisisQuimicoProductoSe = item.IdDetalleAnalisisQuimicoProductoSe,
                IdTipoAnalisisQuimicoProductoSe = item.IdTipoAnalisisQuimicoProductoSe,
                TipoProducto = item.TipoProducto,
                CC_ANALISIS_QUIMICO_PRODUCTO_SEMIELABORADO_PARAMETROXTIPO = lista
            };

            var json = JsonConvert.SerializeObject(ObjTipo);
            string Tipo = item.TipoProducto == "L" ? "Lomo" : item.TipoProducto == "M" ? "Miga" : item.TipoProducto == "T" ? "Trozo" : item.TipoProducto;
            <tr>

                <td>
                    @Tipo
                </td>
                @foreach (var ListaCant in item.CC_ANALISIS_QUIMICO_PRODUCTO_SEMIELABORADO_PARAMETROXTIPO.OrderBy(x => x.ParametroLaboratorio))
                {
                    cont++;
                    <td>
                        @ListaCant.Cantidad
                    </td>
                }

                @if (cont < ContMax)
                {
                    int ncont = ContMax - cont;
                    for (int i = 0; i < ncont; i++)
                    {
                        <td></td>

                    }
                }
                <td>
                    <a href="#" onclick="EditarSubDetalle(@json)">Editar</a>|
                    <a href="#" onclick="ConfirmarEliminarSubDetalle(@json)">Eliminar</a>|

                </td>
            </tr>
        }
    </tbody>

</table>
