@{
    ViewBag.Title = "ReporteMaestro";
}
<style>
    input, select, textarea {
        max-width: 100%;
    }

    #girar {
        position: relative;
        cursor: pointer;
        -webkit-transition: all 500ms ease-in-out;
        -moz-transition: all 500ms ease-in-out;
        -o-transition: all 500ms ease-in-out;
    }

        #girar.giro {
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            transform: rotate(90deg);
            zoom: 1;
        }
</style>

<h4>Control de Reportes Maestros</h4>

<div class="row">
    <div class="col-md-12">
        <div class="card shadow">
            <div class="card-body">
                <h5 hidden id="hMensaje"></h5>
                <div class="row" id="divCabecera">
                    <div class="col-md-2 col-sm-6 col-12">

                        <div class="form-group">
                            <label>Id</label>
                            <input type="number" disabled class="form-control" name="name" id="txtIdControl" value="0" />
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-12">

                        <div class="form-group">
                            <label>Nombre</label>
                            <input type="text" autocomplete="off" class="form-control" name="name" value="" id="txtNombre" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-12">

                        <div class="form-group">
                            <label>Codigo</label>
                            <input type="text" autocomplete="off" class="form-control" name="name" value="" id="txtCodigo" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-12">

                        <div class="form-group">
                            <label>Versión</label>
                            <input type="text" autocomplete="off" class="form-control" name="name" value="" id="txtVersion" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="text-center">
                    <button data-toggle="tooltip" data-placement="top" title="Generar" class="btn" id="btnGenerar" onclick="GenerarReporteMaestro()" style="border-color:#2c3e50" type="button">
                        <img style="width:100%" src="~/Content/icons/add24.png" />
                    </button>
                    <button hidden data-toggle="tooltip" data-placement="top" title="Editar" class="btn" id="btnEditar" onclick="EditarReporte()" style="border-color:#2c3e50" type="button">
                        <img style="width:100%" src="~/Content/icons/edit24.png" />
                    </button>
                    <button hidden data-toggle="tooltip" data-placement="top" title="Atras" class="btn" id="btnAtras" onclick="Atras()" style="border-color:#2c3e50" type="button">
                        <img style="width:100%" src="~/Content/icons/atras24.png" />
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>

<br />
<div class="row" id="divCabeceraPartial">
    <div class="col-md-12">
        <div class="card shadow">
            <div class="card-body">
                <div id="spinnerCargando" hidden class="text-center">
                    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                        <span class="sr-only">Cargando...</span>
                    </div>
                </div>
                <div id="chartCabecera" class="table-responsive">

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" hidden id="divDetalle">
    <div class="col-md-12">
        <div class="card shadow">
            <div class="card-header">
                <button data-toggle="tooltip" data-placement="top" title="Generar" class="btn" id="btnGenerar" onclick="GenerarReporteDetalle()" style="border-color:#2c3e50" type="button">
                    <img style="width:100%" src="~/Content/icons/add24.png" />
                </button>

            </div>
            <div class="card-body">
                <div id="spinnerCargandoDetalle" hidden class="text-center">
                    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                        <span class="sr-only">Cargando...</span>
                    </div>
                </div>
                <div id="chartDetalle" class="table-responsive">

                </div>
            </div>
        </div>
    </div>
</div>






<div class="modal" tabindex="-1" role="dialog" id="ModalEditarControl">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar Control</h5>

            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 col-6 col-sm-6">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="number" disabled id="txtIdControlModal" class="form-control" name="name" value="0" />
                        </div>
                    </div>
                    <div class="col-md-6 col-6 col-sm-6">
                        <div class="form-group">
                            <label>Nombre</label>
                            <input type="text" id="txtNombreModal" class="form-control" name="name" value="" />
                        </div>
                    </div>
                    <div class="col-md-6 col-6 col-sm-6">
                        <div class="form-group">
                            <label>Codigo</label>
                            <input type="text" id="txtCodigoModal" class="form-control" name="name" value="" />
                        </div>
                    </div>
                    <div class="col-md-6 col-6 col-sm-6">
                        <div class="form-group">
                            <label>Versión</label>
                            <input type="text" id="txtVersionModal" class="form-control" name="name" value="" />
                        </div>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="EditarReporteMaestro()">Guardar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>



<div class="modal" tabindex="-1" role="dialog" id="ModalControlDetalle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4 col-6 col-sm-4">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="number" disabled id="txtIdDetalleModal" class="form-control" name="name" value="0" />
                        </div>
                    </div>
                  
                    <div class="col-md-8 col-6 col-sm-8">
                        <div class="form-group">
                            <label>Versión</label>
                            <input type="text" id="txtVersionDetalleModal" autocomplete="off" class="form-control" name="name" value="" />
                        </div>
                    </div>
                    
                    <div id="divInputLoad" class="col-md-12 col-12 col-sm-12">
                        <h5>Reporte</h5>
                        <div id="divFileUpload">
                            <input id="file-upload" type="file" accept="image/*" />
                        </div>
                        <br />
                        <div class="text-center" style="justify-content:center">
                            <div id="file-preview-zone" style="height:310px; border:ridge">
                            </div>

                        </div>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="GuardarReporteDetalle()">Guardar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

