@model IEnumerable<Asiservy.Automatizacion.Datos.Datos.spConsultaResidualCloroDetalle>
@using Newtonsoft.Json;


<table class="table table-striped">
    <tr>      
        <th>
            @Html.DisplayNameFor(model => model.Pediluvio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.Pediluvio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cantidad)
        </td>
        <td>
            @{string json = JsonConvert.SerializeObject(item); }
            <button class="btn btn-link" onclick="EditarResidualCloroDetalle(@json)">Editar</button>
            |
            <button class="btn btn-link" onclick="EliminarResidualCloroDetalle(@json)">Eliminar</button>
        </td>
    </tr>
    }

</table>
