@model Asiservy.Automatizacion.Datos.Datos.sp_Control_Lavado_Desinfeccion_Manos

@{
    ViewBag.Title = "ReporteLavadoDesinfeccionManos";
}

<hr />
<style>
    input, select, textarea {
        max-width: 100%;
    }

    .selectbox {
        background: #fff;
        color: #1d3b4a;
        padding: 5px 8px;
        line-height: 18px;
        border-radius: 4px;
        border-width: 0 1px 4px;
        cursor: pointer;
        border: 1px solid #ddd;
    }

    .box_filters {
        float: right;
    }

    .itemFilter {
        float: left;
        margin-right: 4px;
    }

    .btnWait {
        cursor: no-drop !important;
    }

    ._bloque {
        margin-bottom: 10px;
    }
</style>

<div class="row">
    <div class="col-md-12 ">
        <h4 class="text-md-left text-center" style="float:left">Reporte Lavado y Desinfección de Manos</h4>
        <div class="box_filters">
            <div class="itemFilter">
                <input type="hidden" id="fechaDesde" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                <input type="hidden" id="fechaHasta" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                <div id="reportrange" class="selectbox">
                    <i class="fa fa-calendar"></i>&nbsp;
                    <span></span> <i class="fa fa-caret-down"></i>
                </div>
            </div>
            <div class="itemFilter">
                <a onclick="CargarDetalle(0)" href="#" id="btnBuscarFecha" class="btn btn-primary btn-sm"><i id="iconSearch" class="fas fa-search"></i></a>
            </div>
        </div>
    </div>
</div>
<hr />
<br />

@*<div class="row" id="divCabecera1">
    <div class="col-md-3 col-6 col-sm-6">
        <div class="form-group">
            <center>
                <label>Fecha</label>
                <input type="date" name="name" value="@DateTime.Now.ToString("yyyy-MM-dd")" onchange="CargarCabecera(0)" id="txtFecha" class="form-control" />
            </center>
        </div>
    </div>
    <div id="divObservacion" class="col-md-7 col-6 col-sm-6">
        <div class="form-group">
            <label>Observación</label>
            <input type="text" disabled name="name" value="" id="txtObservacion" class="form-control" />
        </div>
    </div>
    <div class="col-md-2 col-12  text-md-left text-center">
        <label class="" id="lblAcciones">Acciones</label>
        <div class="form-group">
            <button data-toggle="tooltip" data-placement="top" title="Consultar" class="btn" id="Nuevo" onclick="CargarCabecera(0)" style="border-color:#2c3e50" type="button">
                <img style="width:100%" src="~/Content/icons/ver24.png" />
            </button>
        </div>
    </div>

</div>
<hr />*@

@*MODAL BOTON DETALLE DE HORAS*@
<div id="divTableEntregaProductoDetalle" class="table-responsive">
</div>

<div class="row">
    <div class="col-md-4">
        <div class="card shadow">
            <div class="card-body">
                NO CUMPLE: <span class="badge badge-danger"> N</span><br />
                CUMPLE: <span class="badge badge-success">C</span><br />
                FRECUENCIA = <span class="badge badge-info">CADA 2 HORAS</span><br />
            </div>
        </div>
    </div>
</div>