@model IEnumerable<Asiservy.Automatizacion.Datos.Datos.sp_Control_Lavado_Cisterna>
@using Newtonsoft.Json;
<table class="table table-light table-striped table-hover" id="tblDataTable">
    <thead style="font-size:12px">
        <tr>
            <th>FECHA</th>
            <th>QUÍMICOS UTILIZADOS</th>
            <th>OBSERVACIÓN</th>
            <th>USUARIO CREACIÓN</th>
            <th>ESTADO</th>
        </tr>
    </thead>
   
    <tbody style="font-size:11px">
        @foreach (var item in Model)
        {
            var json = JsonConvert.SerializeObject(item); 
            <tr onclick="SeleccionarBandeja(@json)">                
                <td>@item.Fecha.ToString("dd-MM-yyyy")</td>
                <td style="white-space:normal;width:350px">@item.QuimUtilizados.ToUpper()</td>

                @if (!string.IsNullOrEmpty(item.Observacion))
                {
                    <td style="white-space:normal;">@item.Observacion.ToUpper()</td>
                }
                else
                {
                    <td></td>
                }
                <td>@item.UsuarioIngresoLog.ToUpper()</td>
                <td>
                    @if (item.EstadoReporteCab)
                    {
                        <span class="badge badge-success">APROBADO</span>
                    }
                    else
                    {
                        <span class="badge badge-danger">PENDIENTE</span>
                    }
                </td>

            </tr>
        }
    </tbody>
</table>
<script src="~/Scripts/General/dataTableJS.js"></script>
