@model Asiservy.Automatizacion.Datos.Datos.CABECERA_CONTROL_ESTERILIZACION_CONSERVAS

@{
    ViewBag.Title = "ControlEsterilizacionConserva";
}
<style>
    input, select, textarea {
        max-width: 100%;
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 100%;
    }

    textarea {
        resize: none;
    }
</style>

<h4>Esterilización de Conservas</h4>
<input type="hidden" id="CabeceraControl" value="0" />

<div class="card" style="padding-right:10px;padding-bottom:10px;padding-left:10px">

    <div class="row">

        <hr />

        <div class="col-md-4 col-sm-12">
            <div class="form-group">


                <label>Fecha:</label>
                <input type="date" id="Fecha" class="form-control" />
                <label class="text-danger" id="msjerrorfecha" hidden>Debe ingresar una fecha</label>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="form-group">
                <label>Turno:</label>
                <select class="form-control" id="Turno">
                    <option value="1">Seleccione...</option>
                    <option value="1">Turno A</option>
                    <option value="2">Turno B</option>
                </select>
                <label class="text-danger" id="msjerrorturno" hidden>Debe seleccionar un turno</label>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="form-group">


                <label>Línea:</label>
                <select class="form-control" id="Linea">
                    <option value="L">Seleccione...</option>
                    <option value="L">Lata</option>
                    <option value="P">Pouch</option>
                </select>
                <label class="text-danger" id="msjerrorLinea" hidden>Debe seleccionar una línea</label>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="form-group">


                <label>Observación:</label>
                <textarea id="Observacion" class="form-control"></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class=" col-12 text-center">
            <button class="btn btn-primary" type="button" disabled hidden id="btnCargando">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Espere...
            </button>
            <button data-toggle="tooltip" data-placement="top" title="Consultar" class="btn" id="btnConsultar" onclick="ConsultarCabControl()" style="border-color:#2c3e50" type="button">
                <img style="width:100%" src="~/Content/icons/ver24.png" />
            </button>
            <button data-toggle="tooltip" data-placement="top" title="Guardar" class="btn" id="btnGuardar" onclick="GuardarCabEsterilizacion()" style="border-color:#2c3e50" type="button">
                <img style="width:100%" src="~/Content/icons/save20.png" />
            </button>
            <button data-toggle="tooltip" data-placement="top" title="Limpiar" class="btn" id="btnLimpiar" onclick="LimpiarControles()" style="border-color:#2c3e50" type="button">
                <img style="width:100%" src="~/Content/icons/clear24.png" />
            </button>
            <button data-toggle="tooltip" data-placement="top" title="Eliminar" class="btn" id="btnEliminarCabeceraControl" onclick="ConfirmarEliminarCab()" style="border-color:#2c3e50" type="button" disabled>
                <img style="width:100%" src="~/Content/icons/cancel24.png" />
            </button>
        </div>
    </div>
</div>

<br />
<h4 id="MensajeRegistros" class="text-warning text-center"></h4>
<div id="DivDetallesEsterilizacion" class="table-responsive">

</div>
<div id="DivCoches">

</div>

@*modals*@
<!-- Modal -->
<div class="modal fade" id="ModalTipo" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body table-responsive">
                <table id="modaltableTipo" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Inicio</th>
                            <th>Medio</th>
                            <th>Final</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="ModalDetalleCoche" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body table-responsive">
                <table id="modaltableDetCoche" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Número de<br /> canastas</th>
                            <th>Hora de cierre<br /> 1er envase</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
<!-- Modal confirmación eliminar control -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="ModalEliminarCab" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h6 class="modal-title">¿Esta seguro que desea eliminar el control?</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="btnsicab" onclick="EliminarCabControl()">Si</button>
                <button type="button" class="btn btn-primary" id="modal-btn-no" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
<!-- Fin Modal confirmación eliminar control -->
<!-- Modal confirmación eliminar control detalle -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="ModalEliminarDetalle" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h6 class="modal-title">¿Esta seguro que desea eliminar el registro?</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="btnsidet" onclick="EliminarDetalleControl()">Si</button>
                <button type="button" class="btn btn-primary" id="btnnodet" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
<!-- Fin Modal confirmación eliminar control -->