@model IEnumerable<Asiservy.Automatizacion.Datos.Datos.sp_Control_Termoencogido_Sellado_Detalle>

<table class="table table-bordered table-striped" id="tblDataTableOp">
    <thead style="font-size:13px">
        <tr style="font-size:12px;">
            <th>
                <center> HORA<br />VERIFICACION</center>
            </th>
            <th>
                <center> TEMPERATURA °C</center>
            </th>
            <th>
                <center> CORRECTO<br />SELLADO</center>
            </th>
            <th>
                <center>OBSERVACION</center>
            </th>
        </tr>
    </thead>
    <tbody style="font-size:12px">

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <center>
                        @item.HoraVerificacion.ToString("HH:mm")
                    </center>
                </td>
                <td>
                    <center>
                        @Html.DisplayFor(modelItem => item.Temperatura)
                    </center>
                </td>
                <td>
                    <center>
                        @if (item.CorrectoSellado == true)
                        {
                            <span class="badge badge-success">SI</span>
                        }
                        else
                        {
                            <span class="badge badge-danger">NO</span>
                        }
                    </center>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Observacion)
                </td>
            </tr>
        }
    </tbody>
</table>