@model Asiservy.Automatizacion.Datos.Datos.CC_TEMPERATURA_TERMOENCOGIDO_SELLADO_DETALLE

@{
    ViewBag.Title = "ReporteTermoencogidoSellado";
}

<style>
    input, select, textarea {
        max-width: 100%;
    }

    .selectbox {
        background: #fff;
        color: #1d3b4a;
        padding: 5px 8px;
        line-height: 18px;
        border-radius: 4px;
        border-width: 0 1px 4px;
        cursor: pointer;
        border: 1px solid #ddd;
    }

    .box_filters {
        float: right;
    }

    .itemFilter {
        float: left;
        margin-right: 4px;
    }

    .btnWait {
        cursor: no-drop !important;
    }

    ._bloque {
        margin-bottom: 10px;
    }
</style>

<hr />
<div class="row">
    <div class="col-md-12 ">
        <h4 class="text-md-left text-center" style="float:left">Reporte Lavado y Desinfección de Manos</h4>
        <div class="box_filters">
            <div class="itemFilter">
                <input type="hidden" id="fechaDesde" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                <input type="hidden" id="fechaHasta" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                <div id="reportrange" class="selectbox">
                    <i class="fa fa-calendar"></i>&nbsp;
                    <span></span> <i class="fa fa-caret-down"></i>
                </div>
            </div>
            <div class="itemFilter">
                <a onclick="CargarCabeceraDetalle(3)" href="#" id="btnBuscarFecha" class="btn btn-primary btn-sm"><i id="iconSearch" class="fas fa-search"></i></a>
            </div>
        </div>
    </div>
</div>


<hr />

<div id="divReporte" class="table-responsive">

</div>

