
@{
    ViewBag.Title = "FondoLogin";
}

<h4>Fondo del Login</h4>

<div class="card shadow">
    <div class="card-header">
        <button data-toggle="tooltip" data-placement="top" title="Agregar" class="btn" id="Nuevo" onclick="Agregar()" style="border-color:#2c3e50" type="button">
            <img style="width:100%" src="~/Content/icons/add24.png" />
        </button>
    </div>
    <div class="card-body">
        <div id="DivTableControl">

        </div>
    </div>
</div>