
@{
                /**/

                ViewBag.Title = "ReporteControlHoraMaquina";
}
<style>
    input, select, textarea {
        max-width: 100%;
    }
</style>

<h3>Reporte Control Horas/Maquina</h3>



<div class="row">
    <div class="col-md-4 col-12">
        <label>Fecha</label>
        <input type="date" id="txtFecha" class="form-control" name="name" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
    </div>

    <div class="col-md-4 col-12">
        <div class="form-group">
            <label>Turno</label>
            <select id="txtTurno" class="form-control" onchange="CargarControlHoraMaquina()">
                <option value="">Seleccione</option>
                <option value="A">Turno A</option>
                <option value="B">Turno B</option>
            </select>
        </div>
    </div>

    <div class="col-md-4 text-md-left col-12 text-center">
        <label>Acción</label>
        <div class="form-group">
            <button data-toggle="tooltip" data-placement="top" title="Consultar" class="btn" id="Consultar" onclick="CargarReporte()" style="border-color:#2c3e50" type="button">
                <img style="width:100%" src="~/Content/icons/ver24.png" />
            </button>
        </div>
    </div>
</div>

<hr />
<div id="spinnerCargando" hidden class="text-center">
    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Cargando...</span>
    </div>
</div>

<div id="DivTableReporte" class="table-responsive">

</div>
