@model IEnumerable<Asiservy.Automatizacion.Formularios.AccesoDatos.BLZ.RegistroDescongeladoEmparrilladoMP>
@using Asiservy.Automatizacion.Datos.Datos;
@using Newtonsoft.Json;

@{ 
    var Control = ViewBag.Control as List<spConsultaMonitoreoDescongelado>;

}

<table class="table-hover table-bordered table-striped table" style="cursor: pointer" id="tblDataTable">
    <thead>
        <tr class="text-center">
            <th>D</th>
            <th>E</th>
            <th>C</th>
            <th>
                Tanque
            </th>
            <th>
                Lote
            </th>
            <th>
                Especie
            </th>
            <th>
                Talla
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var json = JsonConvert.SerializeObject(item);
            var Descongelado = Control.FirstOrDefault(x => x.Tanque == item.U_SYP_TANQUE && x.Tipo == "D");
            if (item.U_SYP_TANQUE == "AS2556") {
                var x = 0;
            }
            var Emparrillado = Control.FirstOrDefault(x => x.Tanque == item.U_SYP_TANQUE && x.Tipo == "E");
            var Cocina = Control.FirstOrDefault(x => x.Tanque == item.U_SYP_TANQUE && x.Tipo == "C");


        <tr onclick="SeleccionarControl(@json)" class="text-center">

            @if (Descongelado != null)
            {
                <td>
                    <i class="fas fa-check-circle" style="color: dodgerblue"></i>
                </td>
            }
            else
            {
                <td>
                    <i class="fas fa-check-circle" style="color: darkgray"></i>
                </td>
            }
            @if (Emparrillado != null)
            {
                <td>
                    <i class="fas fa-check-circle" style="color:royalblue"></i>
                </td>

            }
            else
            {

                <td>
                    <i class="fas fa-check-circle" style="color: darkgray"></i>
                </td>
            }
            @if (Cocina != null)
            {
                <td>
                    <i class="fas fa-check-circle" style="color:forestgreen"></i>
                </td>
            }
            else
            {
                <td>
                    <i class="fas fa-check-circle" style="color: darkgray"></i>
                </td>
            }


            <td>
                @Html.DisplayFor(modelItem => item.U_SYP_TANQUE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.U_SYP_LOTE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.U_SYP_ESPECIE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.U_SYP_TALLA)
            </td>
        </tr>
        }
    </tbody>
</table>
