@model IEnumerable<Asiservy.Automatizacion.Formularios.AccesoDatos.BLZ.RegistroDescongeladoEmparrilladoMP>
@using Asiservy.Automatizacion.Datos.Datos;
@using Newtonsoft.Json;

@{ 
    var Control = ViewBag.Control as List<spConsultaMonitoreoDescongelado>;

}

<table class="table-hover table-bordered table-striped table" style="cursor: pointer" id="tblDataTable">
    <thead>
        <tr>
            <th>Control</th>
            <th>
                Tanque
            </th>
            <th>
                Lote
            </th>
            <th>
               Especie
            </th>
            <th>
              Talla
            </th>      
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var json = JsonConvert.SerializeObject(item);
            var Descongelado = Control.FirstOrDefault(x => x.Tanque == item.U_SYP_TANQUE && x.Tipo == "D");
            var Emparrillado = Control.FirstOrDefault(x => x.Tanque == item.U_SYP_TANQUE && x.Tipo == "E");
            var Cocina = Control.FirstOrDefault(x => x.Tanque == item.U_SYP_TANQUE && x.Tipo == "C");


        <tr onclick="SeleccionarControl(@json)">
            <td>
                @if (Descongelado != null)
                {
                    <i class="fas fa-check-circle" style="color: dodgerblue"></i>
                }
                else
                {
                    <i class="fas fa-check-circle" style="color: darkgray"></i>
                }
                @if (Emparrillado != null)
                {
                    <i class="fas fa-check-circle" style="color:royalblue"></i>
                }
                else
                {
                    <i class="fas fa-check-circle" style="color: darkgray"></i>
                }
                @if (Cocina != null)
                {
                    <i class="fas fa-check-circle" style="color:darkblue"></i>
                }
                else
                {
                    <i class="fas fa-check-circle" style="color: darkgray"></i>
                }

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.U_SYP_TANQUE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.U_SYP_LOTE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.U_SYP_ESPECIE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.U_SYP_TALLA)
            </td>           
        </tr>
        }
    </tbody>
</table>
