@model IEnumerable<Asiservy.Automatizacion.Datos.Datos.spConsultaReporteAvanceDiario>
@{ 
    List<string> Lineas = Model.Select(x => x.Linea).Distinct().ToList();
    List<TimeSpan?> Horas = Model.Select(x => x.Hora).Distinct().ToList();
}

<table class="table-hover table-bordered table-striped table" style="cursor: pointer" id="tblDataTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Hora)
            </th>

            @foreach (var x in Lineas)
            {
                <th>
                    @x
                </th>
            }
            <th>
                Hora
            </th>
            <th>
                Limpiadoras
            </th>
            
        </tr>
    </thead>
    @{
        decimal Totales = 0;
        int count = 0;
        int countador = 0;
        decimal TotalLimpiadoras = 0;
    }
    <tbody>
        @foreach (var item in Horas)
        {
            countador++;
            <tr>
                <td>
                    @item
                </td>
                @foreach (var x in Lineas)
                {
                    var poAvance = Model.FirstOrDefault(y => y.Linea == x && y.Hora == item);
                    decimal avance = 0;
                    if (poAvance != null)
                    {
                        avance = poAvance.Avance;
                    }
                    if (avance > 0)
                    {
                        Totales = Totales + avance;
                        count++;

                    }
                <td>
                    @if (poAvance != null)
                    {
                        @poAvance.Avance 
                    } else
                    {
                        @:0
                    } 
                    %
                </td>
                }

                <td>
                    @{decimal avanceHora = 0;
                        if (Totales > 0)
                        { avanceHora = Math.Round(Totales / count, 2); }
                    }
                    @avanceHora %
                    @{
                        if (avanceHora > 80)
                        {
                            <i class="fas fa-arrow-circle-up" style="background:#4cff00; border-radius:10px"></i>
                        }
                        else if (avanceHora > 60)
                        {
                            <i class="fas fa-arrow-circle-right" style="background:#ffd800; border-radius:10px"></i>
                        }
                        else if (avanceHora > 0)
                        {
                            <i class="fas fa-arrow-circle-down" style="background:#ff0000 ; border-radius:10px"></i>
                        }

                    }
                </td>
                <td>
                    @{
                        var poLimpiadora = Model.Where(y => y.Hora == item);
                        var Limp = 0;
                        foreach(var x in poLimpiadora)
                        {
                            Limp = Limp + x.limpiadoras ?? 0;
                        }
                        TotalLimpiadoras = TotalLimpiadoras + Limp;

                    }
                    @Limp
                </td>

            </tr>
        }
    </tbody>
    <thead>
        @{
            decimal AvanceGeneral = 0;
            if (Totales > 0)
            {
                AvanceGeneral=Math.Round(Totales / count, 2);
            }
            if (TotalLimpiadoras>0)
            {
                TotalLimpiadoras = Math.Round(TotalLimpiadoras / countador, 0);
            }
        }
        <tr>
            <td>Totales</td>
            @{ int contadorLinea = Lineas.Count + 1;}
            <td colspan="@contadorLinea" class="text-right">Avance General:<b> @AvanceGeneral %</b></td>
            <td>Promedio: <b> @TotalLimpiadoras </b>Limpiadoras</td>
        </tr>
    </thead>
</table>
