
@{
    ViewBag.Title = "ReporteControlAvanceDiario";
}

<h3>ReporteControlAvanceDiario</h3>
<hr />
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="form-group">
                <label>Fecha</label>
                <input type="date" name="name" value="@DateTime.Now.Date" id="txtFecha" class="form-control" />
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="form-group">
                <label>Fecha</label>
                <input type="date" name="name" value="@DateTime.Now.Date" id="txtFecha" class="form-control" />
            </div>
        </div>

    </div>

</div>

