
@{
    ViewBag.Title = "ControlPesoCodificacionLomosyMigas";
}
<style>
    .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
        color: black;
        background-color: #fff;
        border-color: #BDBDBD;
    }
    .nav-tabs .nav-link {
        border: 1px solid #E6E6E6;
        border-top-left-radius: 0.35rem;
        border-top-right-radius: 0.35rem;
    }
</style>
<h4>Control de peso y codificación de lomos y migas</h4>
<br />
<!-- Nav tabs -->
<ul class="nav nav-tabs" style="font-size:0.8rem">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#DetalleMuestrasxHoras">Detalle Muestras por Hora</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#InsumosUtilizados">Insumos utilizados</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#DescripcionDeUso">Descripción de uso</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#DetalleLotes">Detalle de Lote</a>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane container active" id="DetalleMuestrasxHoras">...</div>
    <div class="tab-pane container fade" id="InsumosUtilizados">...</div>
    <div class="tab-pane container fade" id="DescripcionDeUso">...</div>
    <div class="tab-pane container fade" id="DetalleLotes">...</div>
</div>