@model Asiservy.Automatizacion.Formularios.Models.Asistencia.ControlDeAsistenciaViewModel
@{
    ViewBag.Title = "Asistencia";
}
<script src="~/Scripts/AsistenciaJS/Asistencia.js"></script>

<div style="padding-top: 10px; padding-bottom: 100px">

    <h4 class="custom-control-inline">Fecha: &nbsp; @DateTime.Now.ToString("dd-MM-yyyy") </h4>
    <br />
    <label>@ViewBag.Linea</label>
    <br />
    @if (ViewBag.AsistenciaExiste == 0)
    {

        <center><input type="button" value="Generar Asistencia" class="btn btn-outline-info" id="GenerarAsistencia" onclick="GenerarAsistenciaDiaria('@ViewBag.CodLinea',0);"/></center>
    }
    else
    {
        <script>
            //console.log("hola mundo");
             GenerarAsistenciaDiaria('@ViewBag.CodLinea',1);
        </script>
    }

    <br />

    <div class="table-responsive" id="PartialAsistencia">


    </div>

</div>
<div id="ModalMensaje"> </div>

<link href="~/Content/AsistenciaCss/Asistencia.css" rel="stylesheet" />
<script src="~/Scripts/Mensajes/Mensajes.js"></script>

