@model  List<Asiservy.Automatizacion.Formularios.Models.Empleado>
@{
    ViewBag.Title = "CambiarPersonalDeArea";
}


<script src="~/Scripts/jquery.dataTables.min.js"></script>
<link href="~/Content/AsistenciaCss/CambiarPersonal.css" rel="stylesheet" />
@{WebGrid webGrid = new WebGrid(source: Model, canSort: false, rowsPerPage: 5);

}

<br />
<div class="container" style="padding-bottom:100px">
    <div class="row">
        <div class="col-6">
            <fieldset class="form-group">
                <legend>Origen</legend>
                <table>
                    <tr>
                        <td>Departamento:</td>
                        <td>
                            <select class="browser-default custom-select" id="comboareao">
                                <option selected>Seleccione..</option>
                                <option value="Producción">Producción</option>
                                <option value="Dispensario">Dispensario Medico</option>
                                <option value="RRHH">RRHH</option>
                                <option value="Otros">Otros</option>
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <td>Área:</td>
                        <td>
                            <select class="browser-default custom-select" id="comboareao">
                                <option selected>Seleccione..</option>
                                <option value="procesos">Procesos</option>
                                <option value="pouch">Pouch</option>
                                <option value="lata">Lata</option>
                                <option value="lomo">Lomo</option>
                            </select>
                        </td>
                    </tr>
                    <tr id="trlineao">
                        <td>Línea:</td>
                        <td>
                            <select class="browser-default custom-select">
                                <option selected>Seleccione..</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Cargo:</td>
                        <td>
                            <select class="browser-default custom-select">
                                <option selected>Seleccione..</option>
                                <option>Limpiador</option>
                                <option>despellejador</option>
                                <option>Miga</option>
                                <option>Cacho</option>
                            </select>
                        </td>
                    </tr>
                </table>
                <br />
                <center> <input type="button" id="ConsultarEmpleados" value="Consultar" class="btn-primary" onclick="ConsultarEmpleados();" /></center>
            </fieldset>
        </div>

        <div class="col-6">
            <fieldset class="form-group">
                <legend>Mover a</legend>
                <table>
                    <tr>
                        <td>Departamento:</td>
                        <td>
                            <select class="browser-default custom-select" id="comboareao">
                                <option selected>Seleccione..</option>
                                <option value="Producción">Producción</option>
                                <option value="Dispensario">Dispensario Medico</option>
                                <option value="RRHH">RRHH</option>
                                <option value="Otros">Otros</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Área:</td>
                        <td>
                            <select class="browser-default custom-select" id="comboarea">
                                <option selected>Seleccione..</option>
                                <option value="procesos">Procesos</option>
                                <option value="pouch">Pouch</option>
                                <option value="lata">Lata</option>
                                <option value="lomo">Lomo</option>
                            </select>
                        </td>
                    </tr>
                    <tr id="trlinea">
                        <td>Línea:</td>
                        <td>
                            <select class="browser-default custom-select">
                                <option selected>Seleccione..</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Cargo:</td>
                        <td>
                            <select class="browser-default custom-select">
                                <option selected>Seleccione..</option>
                                <option>Limpiador</option>
                                <option>despellejador</option>
                                <option>Miga</option>
                                <option>Cacho</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                    </tr>
                </table>
                <br /><br />
            </fieldset>
        </div>
    </div>
 
        <div class="col-12">
            <div class="container"  id="DivEmpleados">

            </div>
            <br />
            <div id="btnGuardarCambioEmp"><center><input type="button" value="Guardar" class="btn btn-primary" /></center></div>
        </div>
 
</div>
<script src="~/Scripts/AsistenciaJS/CambiarPersonal.js"></script>
