
@{
    ViewBag.Title = "Cuchillo";
}

<h4 class="custom-control-inline">Fecha: &nbsp; <p id="date"></p> </h4>

<div style="padding-left:10%; padding-right:10%">

    <select class="browser-default custom-select">
        <option>Seleccione</option>
        <option>Entrada</option>
        <option>Ir Almorzar</option>
        <option>Regreso de Almuerzo</option>
        <option>Salida</option>
    </select>
    <br />
    <br />
    <div class="table-responsive">

        <table class="table table-bordered">
            <tr class="text-center">
                <td class="align-bottom" rowspan="2"><b> Personal</b></td>
                <td class="align-middle" colspan="3"><b>Cuchillos</b> </td>
            </tr>
            <tr>
                <td>
                    <div class="text-center">
                        <img class="imageCuchillo img-fluid" src="~/Content/images/cuchillo01.jpg" />
                    </div>
                </td>
                <td>
                    <div class="text-center">

                        <img class="imageCuchillo img-fluid" src="~/Content/images/cuchillo02.jpg" />
                    </div>
                </td>
                <td>
                    <div class="text-center">

                        <img class="imageCuchillo img-fluid" src="~/Content/images/cuchillo03.jpg" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    Delgado Anchundia José
                </td>

                <td class="text-center">
                    <label class="container containerAzul">
                        <input type="checkbox" class="check">
                        <span class="checkmark">21</span>
                    </label>
                </td>
                <td class="text-center">
                    <label class="container containerAzul">
                        <input type="checkbox" class="check">
                        <span class="checkmark">01</span>
                    </label>
                </td>
                <td class="text-center">
                    <label class="container containerAzul">
                        <input type="checkbox" class="check">
                        <span class="checkmark">31</span>
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    Delgado Morales Juan
                </td>

                <td class="text-center">
                    <label class="container containerAzul">
                        <input type="checkbox" class="check">
                        <span class="checkmark">22</span>
                    </label>
                </td>
                <td class="text-center">
                    <label class="container containerAzul">
                        <input type="checkbox" class="check">
                        <span class="checkmark">02</span>
                    </label>
                </td>
                <td class="text-center">
                    <label class="container containerAzul">
                        <input type="checkbox" class="check">
                        <span class="checkmark">33</span>
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    Mazza Parra Jorge
                </td>

                <td class="text-center">
                    <label class="container containerAzul">
                        <input type="checkbox" class="check">
                        <span class="checkmark">23</span>
                    </label>
                </td>
                <td class="text-center">
                    <label class="container containerAzul">
                        <input type="checkbox" class="check">
                        <span class="checkmark">03</span>
                    </label>
                </td>
                <td class="text-center">
                    <label class="container containerAzul">
                        <input type="checkbox" class="check">
                        <span class="checkmark">34</span>
                    </label>
                </td>
            </tr>
        </table>
        <div class="text-center" style="width:100%">
            <button type="button" class="btn btn-info">GUARDAR</button>
        </div>

    </div>
</div>

<link href="~/Content/AsistenciaCss/Asistencia.css" rel="stylesheet" />
<script src="~/Scripts/AsistenciaJS/Asistencia.js"></script>

