
@{
    ViewBag.Title = "Cuchillo";
}

<h4 class="custom-control-inline">Fecha: &nbsp; <p id="date"></p> </h4>

<div style="padding-left:10%; padding-right:10%; padding-bottom:20px">

    <select class="browser-default custom-select" id="SelectEstado">
        <option>Seleccione</option>
        <option>Entrada</option>
        <option>Ir Almorzar</option>
        <option>Regreso de Almuerzo</option>
        <option>Salida</option>
    </select>
    <br />
    <br />

    <table class="">
        <tr>
            <td><label>Buscar:</label></td>
            <td><input type="text" class="form-control" name="search" id="search" value="" /></td>
            <td><input type="button" class="form-control" name="limpiar" onclick="LimpiarTexto()" value="X" /></td>
        </tr>

    </table>
    <div class="table-responsive">
        

        <table id="TableCuchillos" class="table table-bordered">
            <tr class="text-center">
                <td class="align-bottom" rowspan="2"><b> Personal</b></td>
                <td class="align-middle" colspan="3"><b>Cuchillos</b> </td>
            </tr>
            <tbody>
                <tr>
                    <td>
                        <div class="text-center">
                            <img class="imageCuchillo img-fluid" src="~/Content/images/cuchillo01.jpg" />
                        </div>
                    </td>
                    <td>
                        <div class="text-center">

                            <img class="imageCuchillo img-fluid" src="~/Content/images/cuchillo02.jpg" />
                        </div>
                    </td>
                    <td>
                        <div class="text-center">

                            <img class="imageCuchillo img-fluid" src="~/Content/images/cuchillo03.jpg" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Delgado Anchundia José
                    </td>

                    <td class="text-center">
                        <div class="col-xs-2 text-xs-center">
                            <label class="btn btn-light text-xs-center" id="labelCuchilloRojo">
                                <input type="checkbox" onchange="Cuchillo(1,1)" id="CheckCuchilloRojo">21
                            </label>
                        </div>
                    </td>
                    <td class="text-center">
                        <div class="col-xs-2 text-xs-center">
                            <label class="btn btn-light text-xs-center" id="labelCuchilloNegro">
                                <input type="checkbox" onchange="Cuchillo(2,1)" id="CheckCuchilloNegro">01
                            </label>
                        </div>
                    </td>
                    <td class="text-center">
                        <div class="col-xs-2 text-xs-center">
                            <label class="btn btn-light text-xs-center" id="labelCuchilloBlanco">
                                <input type="checkbox" onchange="Cuchillo(3,1)" id="CheckCuchilloBlanco">31
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Delgado Morales Juan
                    </td>

                    <td class="text-center">
                        <div class="col-xs-2 text-xs-center">
                            <label class="btn btn-light text-xs-center" id="labelCuchilloRojo2">
                                <input type="checkbox" onchange="Cuchillo(1,2)" id="CheckCuchilloRojo2">22
                            </label>
                        </div>
                    </td>
                    <td class="text-center">
                        <div class="col-xs-2 text-xs-center">
                            <label class="btn btn-light text-xs-center" id="labelCuchilloNegro2">
                                <input type="checkbox" onchange="Cuchillo(2,2)" id="CheckCuchilloNegro2">02
                            </label>
                        </div>
                    </td>
                    <td class="text-center">
                        <div class="col-xs-2 text-xs-center">
                            <label class="btn btn-light text-xs-center" id="labelCuchilloBlanco2">
                                <input type="checkbox" onchange="Cuchillo(3,2)" id="CheckCuchilloBlanco2">32
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Mazza Parra Jorge
                    </td>

                    <td class="text-center">
                        <div class="col-xs-2 text-xs-center">
                            <label class="btn btn-light text-xs-center" id="labelCuchilloRojo3">
                                <input type="checkbox" onchange="Cuchillo(1,3)" id="CheckCuchilloRojo3">23
                            </label>
                        </div>
                    </td>
                    <td class="text-center">
                        <div class="col-xs-2 text-xs-center">
                            <label class="btn btn-light text-xs-center" id="labelCuchilloNegro3">
                                <input type="checkbox" onchange="Cuchillo(2,3)" id="CheckCuchilloNegro3">03
                            </label>
                        </div>
                    </td>
                    <td class="text-center">
                        <div class="col-xs-2 text-xs-center">
                            <label class="btn btn-light text-xs-center" id="labelCuchilloBlanco3">
                                <input type="checkbox" onchange="Cuchillo(3,3)" id="CheckCuchilloBlanco3">33
                            </label>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        Molina Cristian
                    </td>

                    <td class="text-center">
                        <div class="col-xs-2 text-xs-center">
                            <label class="btn btn-light text-xs-center" id="labelCuchilloRojo4">
                                <input type="checkbox" onchange="Cuchillo(1,4)" id="CheckCuchilloRojo4">24
                            </label>
                        </div>
                    </td>
                    <td class="text-center">
                        <div class="col-xs-2 text-xs-center">
                            <label class="btn btn-light text-xs-center" id="labelCuchilloNegro4">
                                <input type="checkbox" onchange="Cuchillo(2,4)" id="CheckCuchilloNegro4">04
                            </label>
                        </div>
                    </td>
                    <td class="text-center">
                        <div class="col-xs-2 text-xs-center">
                            <label class="btn btn-light text-xs-center" id="labelCuchilloBlanco4">
                                <input type="checkbox" onchange="Cuchillo(3,4)" id="CheckCuchilloBlanco4">34
                            </label>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        Pincay Pincay Sonia
                    </td>

                    <td class="text-center">
                        <div class="col-xs-2 text-xs-center">
                            <label class="btn btn-light text-xs-center" id="labelCuchilloRojo5">
                                <input type="checkbox" onchange="Cuchillo(1,5)" id="CheckCuchilloRojo5">25
                            </label>
                        </div>
                    </td>
                    <td class="text-center">
                        <div class="col-xs-2 text-xs-center">
                            <label class="btn btn-light text-xs-center" id="labelCuchilloNegro5">
                                <input type="checkbox" onchange="Cuchillo(2,5)" id="CheckCuchilloNegro5">05
                            </label>
                        </div>
                    </td>
                    <td class="text-center">
                        <div class="col-xs-2 text-xs-center">
                            <label class="btn btn-light text-xs-center" id="labelCuchilloBlanco5">
                                <input type="checkbox" onchange="Cuchillo(3,5)" id="CheckCuchilloBlanco5">35
                            </label>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        Mazza Espinoza Emily
                    </td>

                    <td class="text-center">
                        <div class="col-xs-2 text-xs-center">
                            <label class="btn btn-light text-xs-center" id="labelCuchilloRojo6">
                                <input type="checkbox" onchange="Cuchillo(1,6)" id="CheckCuchilloRojo6">26
                            </label>
                        </div>
                    </td>
                    <td class="text-center">
                        <div class="col-xs-2 text-xs-center">
                            <label class="btn btn-light text-xs-center" id="labelCuchilloNegro6">
                                <input type="checkbox" onchange="Cuchillo(2,6)" id="CheckCuchilloNegro6">06
                            </label>
                        </div>
                    </td>
                    <td class="text-center">
                        <div class="col-xs-2 text-xs-center">
                            <label class="btn btn-light text-xs-center" id="labelCuchilloBlanco6">
                                <input type="checkbox" onchange="Cuchillo(3,6)" id="CheckCuchilloBlanco6">36
                            </label>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="text-center" style="width:100%">
            <button type="button" class="btn btn-info" onclick="Guardar()">GUARDAR</button>
        </div>

    </div>
</div>
<div id="ModalMensaje"> </div>

<link href="~/Content/AsistenciaCss/Asistencia.css" rel="stylesheet" />
<script src="~/Scripts/Mensajes/Mensajes.js"></script>
<script src="~/Scripts/AsistenciaJS/Asistencia.js"></script>
<script src="~/Scripts/AsistenciaJS/Cuchillo.js"></script>