
@{
    ViewBag.Title = "EditarAsistencia";
}

<style>
    input, select {
        max-width: 100%
    }
</style>
<h3>Editar Asistencia</h3>

<div class="container-fluid">
    <div class="row">

        <div class=" offset-md-2 col-md-4 col-sm-12">
            <div class="form-group">
                <label>Linea</label>
                @Html.DropDownList("SelectLinea", new SelectList(ViewBag.Lineas, "Codigo", "Descripcion"), new { @class = "form-control" })
            </div>
        </div>

        <div class="col-md-4 col-sm-12">
            <div class="form-group">
                <label>Fecha</label>
                <input class="form-control" type="date" name="name" value="@DateTime.Now.ToString("yyyy-MM-dd")" id="Fecha" />
            </div>
        </div>


        <div class="col-md-12 col-sm-12 text-center">
            <div class="form-group">
                <input class="btn btn-primary" type="button" id="btnConsultar" name="name" value="Consultar" onclick="ConsultarControlAsistencia(this.id)" />
            </div>
        </div>


    </div>

    <div class="modal fade" id="EditarAsistenciaModal" tabindex="-1" role="dialog" data-backdrop="static"  aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Asistencia</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="name" value=""id="txtId" />

                    <div class="form-group col-md-12">
                        <label>Estado</label>
                        @Html.DropDownList("SelectEstado", new SelectList(ViewBag.Estado, "Codigo", "Descripcion"), new { @class = "form-control" })
                    </div>
                    <div class="form-group  col-md-12">
                        <label>Hora</label>
                        <input type="time" name="name" value="" id="txtHora" class="form-control"/>
                    </div>
                    <div class="form-group  col-md-12">
                        <label>Observacion</label>
                        <input type="text" name="name" value="" id="txtObservacion" class="form-control"/>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" onclick="GuardarAsistencia()">Guardar</button>
                </div>
            </div>
        </div>
    </div>


    <div id="DivTableControlAsistencia" class="table-responsive"></div>

</div>


<link href="~/Content/DataTables/media/css/dataTables.bootstrap.css" rel="stylesheet" />
<link href="~/Content/DataTables/media/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="~/Content/DataTables/extensions/Buttons/css/buttons.bootstrap4.min.css" rel="stylesheet" />
<link href="~/Content/DataTables/extensions/Buttons/css/buttons.dataTables.min.css" rel="stylesheet" />
<script src="~/Scripts/DataTables/media/js/jquery.dataTables.min.js"></script>
<script src="~/Scripts/DataTables/media/js/dataTables.bootstrap4.min.js"></script>

<script src="~/Scripts/AsistenciaJS/EditarAsistencia.js"></script>