
@{
    ViewBag.Title = "Index";
}


<div style="padding-top: 10px; padding-bottom: 100px">

    <h4 class="custom-control-inline">Fecha: &nbsp; <p id="date"></p> </h4>

    <div class="table-responsive">

        <table class="table table-bordered">
            <tr class="text-center">
                <td class="align-bottom" rowspan="2"><b> Personal</b></td>
                <td class="align-bottom" rowspan="2"><b>Check</b> </td>
                <td class="align-bottom" rowspan="2"><b>Estado</b> </td>
                <td class="align-middle" colspan="3"><b>Cuchillos</b> </td>
                <td class="align-bottom" rowspan="2"><b>Observación</b> </td>
            </tr>
            <tr>
                <td>
                    <div class="">
                        <img class="imageCuchillo img-fluid" src="~/Content/images/cuchillo01.jpg" />
                    </div>
                </td>
                <td>
                    <div class="">

                        <img class="imageCuchillo img-fluid" src="~/Content/images/cuchillo02.jpg" />
                    </div>
                </td>
                <td>
                    <div class="">

                        <img class="imageCuchillo img-fluid" src="~/Content/images/cuchillo03.jpg" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    José Delgado
                </td>
                <td>
                    <label class="container containerCheck">
                        <input type="checkbox" class="check" onchange="fillBook(0)" id="CheckAsistencia">
                        <span class="checkmark" id="spanAsistencia"></span>
                    </label>
                </td>

                <td>
                    <select class="custom-select" id="SelectEstado" onchange="CambioEstado(0)">
                        <option selected>Seleccione</option>
                        <option value="1">Presente</option>
                        <option value="2">Atraso</option>
                        <option value="3">Falta</option>
                    </select>
                </td>
                <td>
                    <label class="container containerAzul">
                        <input type="checkbox" class="check">
                        <span class="checkmark">21</span>
                    </label>
                </td>
                <td>
                    <label class="container containerAzul">
                        <input type="checkbox" class="check">
                        <span class="checkmark">22</span>
                    </label>
                </td>
                <td>
                    <label class="container containerAzul">
                        <input type="checkbox" class="check">
                        <span class="checkmark">23</span>
                    </label>
                </td>
                <td>
                    <div>
                        <input type="text" class="form-control-plaintext" id="Observacion" placeholder="Observacion">
                    </div>
                </td>

            </tr>
            <tr>
                <td>
                    Jorge Mazza
                </td>
                <td>
                    <label class="container containerCheck">
                        <input type="checkbox" class="check" onchange="fillBook(1)" id="CheckAsistencia1">
                        <span class="checkmark" id="spanAsistencia1"></span>
                    </label>
                </td>

                <td>
                    <select class="custom-select" id="SelectEstado1" onchange="CambioEstado(1)">
                        <option selected>Seleccione</option>
                        <option value="1">Presente</option>
                        <option value="2">Atraso</option>
                        <option value="3">Falta</option>
                    </select>
                </td>
                <td class="align-content-center">
                    <label class="container containerAzul">
                        <input type="checkbox" class="check">
                        <span class="checkmark">21</span>
                    </label>
                </td>
                <td>
                    <label class="container containerAzul">
                        <input type="checkbox" class="check">
                        <span class="checkmark">22</span>
                    </label>
                </td>
                <td>
                    <label class="container containerAzul">
                        <input type="checkbox" class="check">
                        <span class="checkmark">23</span>
                    </label>
                </td>
                <td>
                    <div class="form-group">
                        <input type="text" class="form-control-plaintext" id="Observacion1" placeholder="Observacion">
                    </div>
                </td>

            </tr>
        </table>

        <div class="text-center" style="width:100%">
            <button type="button" class="btn btn-info">GUARDAR</button>
        </div>


    </div>

</div>

<link href="~/Content/AsistenciaCss/Asistencia.css" rel="stylesheet" />
<script src="~/Scripts/AsistenciaJS/Asistencia.js"></script>

