
@{
    ViewBag.Title = "Index";
}


<script>
    $(function () {
        $("input").checkboxradio();
    });
</script>

<div style="padding-top: 10px; padding-bottom: 100px">

    <h4 class="custom-control-inline">Fecha: &nbsp; <p id="date"></p> </h4>

    <div class="table-responsive">

        <table class="table table-bordered">
            <tr class="text-center">
                <td class="align-bottom" rowspan="2"><b> Personal</b></td>
                <td class="align-bottom" rowspan="2"><b>Check</b> </td>
                <td class="align-bottom" rowspan="2"><b>Estado</b> </td>
                <td class="align-middle" colspan="3"><b>Cuchillos</b> </td>
                <td class="align-bottom" rowspan="2"><b>Observación</b> </td>
            </tr>
            <tr>
                <td>
                    <div class="text-center">
                        <img class="imageCuchillo img-fluid" src="~/Content/images/cuchillo01.jpg" />
                    </div>
                </td>
                <td>
                    <div class="text-center">

                        <img class="imageCuchillo img-fluid" src="~/Content/images/cuchillo02.jpg" />
                    </div>
                </td>
                <td>
                    <div class="text-center">

                        <img class="imageCuchillo img-fluid" src="~/Content/images/cuchillo03.jpg" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    José Delgado
                </td>
                <td class="text-center">
                    <label class="btn btn-light text-xs-center" id="LabelAsistencia">
                        <input type="checkbox" autocomplete="on" onchange="fillBook(0)" id="CheckAsistencia">
                    </label>
                </td>
                <td>
                    <select class="custom-select" id="SelectEstado" onchange="CambioEstado(1)">
                        <option selected>Seleccione</option>
                        <option value="1">Presente</option>
                        <option value="2">Atraso</option>
                        <option value="3">Falta</option>
                    </select>
                </td>
                <td class="text-center align-content-center">
                    <div class="col-xs-2 text-xs-center">
                        <label class="btn btn-light text-xs-center" id="labelCuchilloRojo">
                            <input type="checkbox" onchange="Cuchillo(1,1)" id="CheckCuchilloRojo">21
                        </label>
                    </div>
                </td>
                <td class="text-center">
                    <div class="col-xs-2 text-xs-center">
                        <label class="btn btn-light text-xs-center" id="labelCuchilloNegro">
                            <input type="checkbox" onchange="Cuchillo(2,1)" id="CheckCuchilloNegro">01
                        </label>
                    </div>
                </td>
                <td class="text-center">
                    <div class="col-xs-2 text-xs-center">
                        <label class="btn btn-light text-xs-center" id="labelCuchilloBlanco">
                            <input type="checkbox" onchange="Cuchillo(3,1)" id="CheckCuchilloBlanco">31
                        </label>
                    </div>
                </td>
                <td class="text-center">
                    <div>
                        <input type="text" class="form-control-plaintext" id="Observacion" placeholder="Observacion">
                    </div>
                </td>

            </tr>
            <tr>
                <td>
                    Jorge Mazza
                </td>
                <td class="text-center">
                    <label class="btn btn-light text-xs-center" id="LabelAsistencia2">
                        <input type="checkbox" autocomplete="on" onchange="fillBook(2)" id="CheckAsistencia2">
                    </label>
                </td>

                <td>
                    <select class="custom-select" id="SelectEstado2" onchange="CambioEstado(2)">
                        <option selected>Seleccione</option>
                        <option value="1">Presente</option>
                        <option value="2">Atraso</option>
                        <option value="3">Falta</option>
                    </select>
                </td>
                <td class="text-center align-content-center">
                    <div class="col-xs-2 text-xs-center" data-toggle="">
                        <label class="btn btn-light text-xs-center" id="labelCuchilloRojo2">
                            <input type="checkbox" autocomplete="on" onchange="Cuchillo(1,2)" id="CheckCuchilloRojo2">22
                        </label>
                    </div>
                </td>
                <td class="text-center">
                    <div class="col-xs-2 text-xs-center">
                        <label class="btn btn-light text-xs-center" id="labelCuchilloNegro2">
                            <input type="checkbox" autocomplete="on" onchange="Cuchillo(2,2)" id="CheckCuchilloNegro2">02
                        </label>
                    </div>
                </td>
                <td class="text-center">
                    <div class="col-xs-2 text-xs-center">
                        <label class="btn btn-light text-xs-center" id="labelCuchilloBlanco2">
                            <input type="checkbox" autocomplete="on" onchange="Cuchillo(3,2)" id="CheckCuchilloBlanco2">32
                        </label>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input type="text" class="form-control-plaintext" id="Observacion2" placeholder="Observacion">
                    </div>
                </td>

            </tr>
        </table>

        <div class="text-center" style="width:100%">
            <button type="button" class="btn btn-info" onclick="prueba()">GUARDAR</button>
        </div>


    </div>

</div>

<link href="~/Content/AsistenciaCss/Asistencia.css" rel="stylesheet" />
<script src="~/Scripts/AsistenciaJS/Asistencia.js"></script>
<script src="~/Scripts/jquery-3.0.0.js"></script>
<script src="~/Scripts/AsistenciaJS/Cuchillo.js"></script>
