
@{
    ViewBag.Title = "ReporteCambioPersonal";
}

<h4>Reporte Cambio Personal</h4>
<hr />

<div class="row">
    <div class="col-md-4 col-sm-6">
        <div class="form-group">
            <label>Linea:</label>
            @Html.DropDownList("Linea", (IEnumerable<SelectListItem>)ViewBag.Lineas, "Seleccione", new { @class = "form-control" })
            <label id="msgerrorlinea" style="display:none; color:red">Debe seleccionar una línea</label>
        </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="form-group">
            <label>Fecha desde:</label>
            @{
                var fechahasta = DateTime.Now.ToString("yyyy-MM-dd"); ;
                var fechadesde = Convert.ToDateTime(fechahasta).AddMonths(-1).ToString("yyyy-MM-dd"); ;
            }
            <input type="date" id="fechadesde" class="form-control" value="@fechadesde" />
            <label id="msgerrorfechaInicio" style="display:none; color:red">Debe ingresar una fecha inicial</label>
        </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="form-group">
            <label>Fecha hasta:</label>
            <input type="date" id="fechahasta" class="form-control" value="@fechahasta" />
            <label id="msgerrorFechaFin" style="display:none; color:red">Debe ingresar una fecha final</label>
        </div>
    </div>
    <div class="col-12">
        <div class="form-group">

            <label id="msgerrorFechas" style="display:none; color:red">La fecha inicial no puede ser mayor a la fecha final</label>
        </div>
    </div>
    <div class="col-md-offset-2 col-md-12">
        <center>
            <div class="form-group">

                <button data-toggle="tooltip" data-placement="top" title="Consultar" class="btn" id="Consultar" onclick="ConsultarCambioPersonal()" style="border-color:#2c3e50" type="button">
                    <img style="width:100%" src="~/Content/icons/ver24.png" />
                </button>
                @*<input type="button" class="btn btn-primary" value="Consultar" onclick="ConsultarCambioPersonal()" />*@

            </div>
        </center>
    </div>
</div>
@*<div class="row">

            <input type="button" class="btn btn-primary" value="Consultar" onclick="ConsultarCambioPersonal()" />

    </div>*@

<hr />
<div id="spinnerCargando" hidden class="text-center">
    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Cargando...</span>
    </div>
</div>
<div id="resultadoreporte" class="table-responsive">

</div>

