
@{
    ViewBag.Title = "ReporteControluchillo";
}

<h2>Reporte Control Cuchillo</h2>

<div class="container-fluid">

    <div class="row">
        <div class="offset-md-3 col-md-4 col-sm-6">
            <div class="form-group">
                <label>Fecha</label>
                <input type="date" class="form-control" name="name" value="@DateTime.Now.Date.ToString("yyyy-MM-dd")" id="txtFecha" />
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="form-group">
                <label>Linea</label>
                @Html.DropDownList("Lineas", new SelectList(ViewBag.Lineas, "Codigo", "Descripcion"), "Seleccione", new { @class = "form-control", @id = "selectLinea" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <input type="button" onclick="CargarReporteControlCuchillo()" class="btn btn-primary" name="name" value="Consultar" />

        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="table-responsive" id="DivTableControlCuchillo"></div>
    </div>

</div>
<script src="~/Scripts/AsistenciaJS/ReporteControlCuchillo.js"></script>