@*@model Asiservy.Automatizacion.Datos.Datos.spReporteAsistencia*@
<style>
    .selectbox {
        background: #fff;
        color: #1d3b4a;
        padding: 5px 8px;
        line-height: 18px;
        border-radius: 4px;
        border-width: 0 1px 4px;
        cursor: pointer;
        border: 1px solid #ddd;
    }
    input, select, textarea {
        max-width: 100%;
    }
</style>
@{
    ViewBag.Title = "RptAsistencia";
    var fechaactual = DateTime.Now.ToString("yyyy-MM-dd");
}

<link href="~/Content/AsistenciaCss/RptAsistencia.css" rel="stylesheet" />

<h4>Reporte Asistencia</h4>

<div class="row">
    <div class="col-md-4 col-sm-12" id="divDateRangePicker" >
        <div class="form-group">
            <label>Filtrar por Fecha:</label>
            @Html.Hidden("FechaDesde", null, new { @class = "form-control input-large", @Value = fechaactual })
            @Html.Hidden("FechaHasta", null, new { @class = "form-control input-large", @Value = fechaactual })

            <div id="reportrange" class="selectbox">
                <i class="fa fa-calendar"></i>&nbsp;
                <span></span> <i class="fa fa-caret-down" style="float:right"></i>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6">
        <div class="form-group">
            <label>Líneas:</label>
            @Html.DropDownList("Linea", (IEnumerable<SelectListItem>)ViewBag.Lineas, "Seleccione", new { @class = "form-control" })
            <label id="msjerrorLinea" class="text-danger" style="display:none">Debe seleccionar una Línea</label>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="form-group">
            <label>Turno:</label>
            <select id="Turno" class="form-control">
                <option value="">Seleccione</option>
                <option value="1">1</option>
                <option value="2">2</option>
            </select>
            <label id="msjerrorTurno" class="text-danger" style="display:none">Debe seleccionar un Turno</label>
        </div>
    </div>
</div>
<hr />

<div class="row">
    <div class="col-md-12 col-sm-12">
        <center>
            <div class="form-group">

                <button data-toggle="tooltip" data-placement="top" title="Consultar" class="btn" id="" onclick="ConsultarAsistencia()" style="border-color:#2c3e50" type="button">
                    <img style="width:100%" src="~/Content/icons/ver24.png" />
                </button>


                <button data-toggle="tooltip" data-placement="top" title="Nuevo" class="btn" id="Limpiar" onclick="Limpiar()" style="border-color:#2c3e50" type="button">
                    <img style="width:100%" src="~/Content/icons/clear24.png" />
                </button>
                @*<input type="button" value="Guardar" id="GuardarProyeccion" class="btn btn-primary" onclick="IngresarProyeccionProgramacion()" />
                <input type="button" value="Nuevo" id="Limpiar" class="btn btn-info" onclick="Limpiar()" />*@
            </div>
        </center>
    </div>


</div>
<br />
<div id="spinnerCargando" hidden class="text-center">
    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Cargando...</span>
    </div>
</div>
<div id="divRptAsistencia" style="padding-bottom:1%" >
    
</div>
<center><h4 id="mensajeregistros" class="text-warning"></h4></center>
@*
<script src="~/Scripts/AsistenciaJS/RptAsistencia.js"></script>*@
