@*@model Asiservy.Automatizacion.Datos.Datos.spReporteAsistencia*@
@{
    ViewBag.Title = "RptAsistencia";
}

<link href="~/Content/AsistenciaCss/RptAsistencia.css" rel="stylesheet" />

<h4>Reporte Asistencia</h4>

<div class="row">
    <div class="col-md-4 col-sm-6">
        <div class="form-group">
            <label>Fecha desde:</label>
            @Html.TextBox("FechaDesde", null, new { @class = "form-control input-large", type = "date" })
        </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="form-group">
            <label>Fecha desde:</label>
            @Html.TextBox("FechaHasta", null, new { @class = "form-control input-large", type = "date" })
        </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="form-group">
            <label>Líneas:</label>
            @Html.DropDownList("Línea:", (IEnumerable<SelectListItem>)ViewBag.Lineas, "Seleccione", new { @class = "form-control" })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12">
        <center>
            <div class="form-group">
                
                    <button data-toggle="tooltip" data-placement="top" title="Consultar" class="btn" id="" onclick="ConsultarAsistencia()" style="border-color:#2c3e50" type="button">
                        <img style="width:100%" src="~/Content/icons/ver24.png" />
                    </button>

           
                <button data-toggle="tooltip" data-placement="top" title="Nuevo" class="btn" id="Limpiar" onclick="Limpiar()" style="border-color:#2c3e50" type="button">
                    <img style="width:100%" src="~/Content/icons/clear24.png" />
                </button>
                @*<input type="button" value="Guardar" id="GuardarProyeccion" class="btn btn-primary" onclick="IngresarProyeccionProgramacion()" />
                    <input type="button" value="Nuevo" id="Limpiar" class="btn btn-info" onclick="Limpiar()" />*@
            </div>
        </center>
    </div>


</div>
<br />
<div id="divRptAsistencia" style="padding-bottom:1%" class="table-responsive">

</div>
@*<script src="~/Scripts/AsistenciaJS/RptAsistencia.js"></script>*@
