

@{
    ViewBag.Title = "BandejaRRHH";
}

<style>
    input, select, textarea {
        max-width: 100%
    }
</style>

<h3>Bandeja de RRHH</h3>
<hr />
<div id="spinnerCargando" hidden class="text-center">
    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Cargando...</span>
    </div>
</div>

<div id="divTable">

</div>
@*<script src="~/Scripts/General/dataTableJS.js"></script>*@



<div class="modal fade" id="ModalEditarSolicitud" data-backdrop="static">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Solicitud Permiso</h4>
            </div>
            <div class="modal-body" id="modal_body">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- MODAL PARA INGRESO DE OBSERVACION -->
<div class="modal fade" id="ModalObservacion" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Ingrese motivo</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <textarea class="form-control" rows="5" id="txtObservaccionAnulacion"></textarea>
                <input type="text" name="name" value="" hidden id="txtIdSolicitud" />
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="Anular()">Aceptar</button>
            </div>

        </div>
    </div>
</div>



<div id="ModalMensajeBandeja" class="modal fade bd-example-modal-lg"
     tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true" data-backdrop="static">

    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Envio a Only Control</h5>
            </div>
            <div class="modal-body">
                <div id="divMensaje">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>

        </div>
    </div>
</div>

