

@model List<Asiservy.Automatizacion.Formularios.Models.Solicitud>

@{
    ViewBag.Title = "BandejaProduccion";
}
@{
    WebGrid webGrid = new WebGrid(source: Model, canSort: false, rowsPerPage: 5);
}

<h3>Bandeja de RRHH</h3>

<div class="table-responsive">
    <table>
        <tr>
            <td>Buscar:</td>
            <td>@Html.TextBox("buscar", null, new { id = "search", @class = "form-control" })</td>
            <td><input type="button" class="form-control" name="limpiar" onclick="LimpiarTexto()" value="X" /></td>
        </tr>
    </table>
    <br />
    <div style="float:left">
        <label>Todos</label>
        <input type="checkbox" name="name" value="" id="checkTodos" onchange="checkTodos()" />
    </div>
    @webGrid.GetHtml(
        htmlAttributes: new { @id = "WebGrid", @class = "Grid table table-hover table-bordered" },
        columns: webGrid.Columns(
                                webGrid.Column(header: "Check", format: @<text><input class="case" name="case" type="checkbox" id="solicitud-@item.codigo" /></text>),
                                webGrid.Column("codigo", "Solicitud"),
                                webGrid.Column("fecha", "Fecha"),
                                webGrid.Column("Motivo", "Motivo"),
                                webGrid.Column("Area", "Area"),
                                webGrid.Column("Empleado", "Empleado"),
                                 webGrid.Column(header: "", format: @<text><input name="chkbox" type="button" value="Ver" onclick="Mostrar();" class=" btn btn-link" /></text>)
                                                                          ))
    @if (Model.Count == 0)
    {
        <script type="text/javascript">
            $(function () {
                var row = $("#WebGrid")[0].insertRow(-1);
                var cell = $(row.insertCell(-1));
                cell.html("No records found.");
                cell.attr("colspan", "4").attr("align", "center");
            });
        </script>
    }
</div>
<div class="container-fluid text-center"> <input type="button" class="btn btn-info" name="name" value="Aprobar" /></div>

<br />
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Solicitud Permiso</h4>
            </div>
            <div class="modal-body">

                <div class="table-responsive">
                    <table class="table table-borderless">
                        <tr>
                            <td>
                                <label class="">Solicitud</label>
                            </td>
                            <td>
                                <input type="text" class="form-control" id="txtSolicitud" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="">Fecha Ingreso</label>
                            </td>
                            <td>
                                <input type="text" class="form-control" id="txtFecha" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="">Motivo</label>
                            </td>
                            <td>
                                <input type="text" class="form-control" id="txtMotivo" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="">Area</label>
                            </td>
                            <td>
                                <input type="text" class="form-control" id="txtArea" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="">Empleado</label>
                            </td>
                            <td>
                                <input type="text" class="form-control" id="txtEmpleado" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="">Fecha Inicio</label>
                            </td>
                            <td>
                                <input type="text" class="form-control" id="txtFechaInicioPermiso" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="">Fecha Fin</label>
                            </td>
                            <td>
                                <input type="text" class="form-control" id="txtFechaFinPermiso" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="">Observacion</label>
                            </td>
                            <td>
                                <input type="text" class="form-control" id="txtObservacion" />
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Aprobar</button>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script src="~/Scripts/SolicitudPermisoJS/Bandeja.js"></script>
