

@{
    ViewBag.Title = "BandejaProduccion";
}


<style>
    input, select, textarea {
        max-width: 100%
    }
</style>
<h3>Bandeja de Aprobacion</h3>
<div class="row">
    <div class="col-md-4 col-12">
        <input type="text" name="name" value="@ViewBag.Linea" class="form-control" disabled />
    </div>
</div>
<br />

<div id="divTable">

</div>
