
@{
    ViewBag.Title = "BitacoraSolicitud";
}
<style>
    input, select, textarea {
        max-width: 100%
    }
</style>


<div class="" style="padding-bottom:5%">

    <br />
    <h4>BitacoraSolicitud</h4>

    <div class="row">
        <div class="form-group col-md-3 col-sm-12">
            <label>Solicitud</label>
            <input id="textSolicitud" class="form-control" type="number" name="name" value="" />
        </div>
        <div class="form-group col-md-3 col-sm-12">
            <label>Cédula</label>
            <input id="textCedula" class="form-control" type="number" name="name" value="" />
        </div>
        <div style="display: flex;justify-content: center;align-items: center;" class="form-group col-md-1 col-sm-2">
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="SwitchFechas" onchange="ActivarFechas();">
                <label class="custom-control-label" for="SwitchFechas"></label>
            </div>
        </div>
        <div class="form-group col-md-2 col-sm-5">
            <label>Fecha Desde</label>
            <input id="dateDesde" class="form-control" type="date" name="name" value="" disabled />
        </div>
        <div class="form-group col-md-2 col-sm-5">
            <label>Fecha Hasta</label>
            <input id="dateHasta" class="form-control" type="date" name="name" value="" disabled />
        </div>

    </div>
    <div class="row">
        <div class="col text-center">
            <button data-toggle="tooltip" data-placement="top" title="Consultar" class="btn" id="Nuevo" onclick="ConsultarBitacora()" style="border-color:#2c3e50" type="button">
                <img style="width:100%" src="~/Content/icons/ver24.png" />
            </button>

        </div>
    </div>

    <hr />
    <div id="spinnerCargando" hidden class="text-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Cargando...</span>
        </div>
    </div>

    <div class="table-responsive" style="padding-bottom:5%" id="Bitacora">

    </div>


</div>




