
@{
    ViewBag.Title = "ReporteSolicitud";
}
<style>
    input, select, textarea {
        max-width: 100%
    }
</style>


<div class="container-fluid" style="padding-bottom:100px">
    <br /> @if (ViewBag.Garita != null)
    {
        <h4>Garita Control de Salida</h4>
    }
    else
    {
        <h4>Reporte de Solicitudes</h4>
    }
        <hr />
    <div class="row">
        <div class="form-group col-md-3 col-sm-12">
            <label>Linea</label>
            @Html.DropDownList("IdLinea", new SelectList(ViewBag.Lineas, "Codigo", "Descripcion"), "Seleccione", new { @class = "form-control", @onchange = "CambioLinea(this.value)", @id = "selectLinea" })
        </div>
        <div class="form-group col-md-3 col-sm-12">
            <label>Area</label>
            <select class="form-control" id="selectArea">
                <option value="">-- Seleccionar Opción--</option>

            </select>
            <br />
        </div>
        <div class="form-group col-md-3 col-sm-12">
            <label>Estado</label>
            @if (ViewBag.Garita != null)
            {
                <input type="hidden" name="name" value="true" id="Garita" />
                @Html.DropDownList("IdEstado", new SelectList(ViewBag.Estados, "Codigo", "Descripcion", "002"), new { @class = "form-control", @id = "selectEstado", hidden = "hidden" })
                <input type="text" name="name" class="form-control" value="Aprobado" disabled />
            }
            else
            {
                @Html.DropDownList("IdEstado", new SelectList(ViewBag.Estados, "Codigo", "Descripcion"), new { @class = "form-control", @id = "selectEstado" })

            }
        </div>
        <div style="display: flex;justify-content: center;align-items: center;" class="form-group col-md-3 col-sm-12">

            <input style="vertical-align: middle" type="button" name="name" value="Consultar" class="form-control btn btn-info" onclick="ConsultarSolicitudes();" />
        </div>
    </div>

    <div id="RptSolicitudes">

    </div>

</div>


<link href="~/Content/DataTables/media/css/dataTables.bootstrap.css" rel="stylesheet" />
<link href="~/Content/DataTables/media/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<script src="~/Scripts/DataTables/media/js/jquery.dataTables.js"></script>
<script src="~/Scripts/DataTables/media/js/dataTables.bootstrap4.min.js"></script>
<script src="~/Scripts/SolicitudPermisoJS/ReporteSolicitud.js"></script>


