
@{
    ViewBag.Title = "ReporteSolicitud";
}
<style>
    input, select, textarea {
        max-width: 100%
    }
</style>


<div class="container-fluid">
    <h4>Reporte de Solicitudes</h4>

    <div class="row">
        <div class="form-group col-md-3 col-sm-12">
            <label>Departamento</label>
            <select class="form-control">
                <option value="value">Produccion</option>
                <option value="value">Dispensario Médico</option>
                <option value="value">RRHH</option>
            </select>
        </div>
        <div class="form-group col-md-3 col-sm-12">
            <label>Area</label>
            <select class="form-control">
                <option value="value">Proceso</option>
                <option value="value">Lata</option>
                <option value="value">Pouch</option>
            </select>
            <br />
        </div>
        <div class="form-group col-md-3 col-sm-12">
            <label>Estado</label>
            <select class="form-control">
                <option value="value">Todos</option>
                <option value="value">Pendiente</option>
                <option value="value">Aprobado</option>
                <option value="value">Anulado</option>
            </select>
        </div>
        <div style="display: flex;justify-content: center;align-items: center;" class="form-group col-md-3 col-sm-12">
            
            <input style="vertical-align: middle" type="button" name="name" value="Consultar" class="form-control btn btn-info" />
        </div>
    </div>


    <div class="table-responsive">
        <table class="table table-hover" id="TableReporteSolicitud">
            <thead>
                <tr>
                    <th>Solicitud</th>
                    <th>Departamento</th>
                    <th>Area</th>
                    <th>Empleado</th>
                    <th>Estado</th>
                    <th>Biometrico</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Produccion</td>
                    <td>Proceso L1</td>
                    <td>Anchundia Lopez José</td>
                    <td class="text-success"> Aprobado</td>
                    <td><input class="form-control" type="datetime" name="name" value="@DateTime.Now" disabled /></td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>Produccion</td>
                    <td>Proceso L2</td>
                    <td>Morales Lopez Alberto</td>
                    <td class="text-warning"> Pendiente</td>
                    <td><input class="form-control" type="datetime" name="name" value="@DateTime.Now" disabled /></td>
                </tr>
                <tr>
                    <td>18</td>
                    <td>RRHH</td>
                    <td>N/A</td>
                    <td>Mora Morales Maria</td>
                    <td class="text-danger"> Anulada</td>
                    <td><input class="form-control" type="datetime" name="name" value="@DateTime.Now" disabled /></td>
                </tr>
            </tbody>
        </table>

    </div>



</div>


<link href="~/Content/DataTables/media/css/dataTables.bootstrap.css" rel="stylesheet" />
<link href="~/Content/DataTables/media/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<script src="~/Scripts/DataTables/media/js/jquery.dataTables.js"></script>
<script src="~/Scripts/DataTables/media/js/dataTables.bootstrap4.min.js"></script>
<script src="~/Scripts/SolicitudPermisoJS/ReporteSolicitud.js"></script>