
@{
    ViewBag.Title = "SolicitudPermiso";
}


<script src="~/Scripts/jquery-ui.js"></script>
<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/gijgo/combined/gijgo.min.js"></script>
<link href="~/Content/gijgo/combined/gijgo.min.css" rel="stylesheet" />
<link href="~/Content/SolicitudPermisoCss/SolicitudPermiso.css" rel="stylesheet" />
<script src="~/Scripts/Mensajes/Mensajes.js"></script>
<style>
    input, select, textarea {
        max-width:100%
    }
</style>
@*<h4>SolicitudPermiso</h4>*@


<br />
<div style="padding:0 5% 0 0" class="container-fluid">
    <div class="row">

        <div class="col-md-2"></div>
        <div class="col-md-8 col-sm-12">
            <div class="form-group">
                <label>Fecha: @DateTime.Now.ToShortDateString()</label>
            </div>
            <div class="form-group">
                <label>Supervisor</label>
                <select style="max-width:100%" class="form-control">
                    <option value="">Seleccione...</option>
                    <option value="1">Juan Albarado</option>
                    <option value="2">Pedro Maldonado</option>
                    <option value="3">Maria Araujo</option>
                </select>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <label>Empleado</label>
                    <div class="ui-widget">
                        <select id="combobox">
                            <option value="">Select one...</option>
                            <option value="Anchundia Anchundia Aura Maria">Anchundia Anchundia Aura Maria</option>
                            <option value="Anchundia Parrales Viviana">Anchundia Parrales Viviana</option>
                            <option value="Bailon Mero María Ines">Bailon Mero María Ines</option>
                            <option value="Bravo Mnzaba Betsy Janet">Bravo Mnzaba Betsy Janet</option>
                            <option value="Cardenas Espinoza Patricia">Cardenas Espinoza Patricia</option>
                            <option value="Espinal Delgado Joyce Maryeli">Espinal Delgado Joyce Maryeli</option>
                            <option value="García Cedeño Mariuxi Katherine">García Cedeño Mariuxi Katherine</option>
                            <option value="Intriago Sornoza Mayra Johana">Intriago Sornoza Mayra Johana</option>
                            <option value="Jaramillo Gómez María Elizabeth">Jaramillo Gómez María Elizabeth</option>
                            <option value="Macias Chancay Sandy Ismenia">Macias Chancay Sandy Ismenia</option>
                            <option value="Moreira Zambrano Mercedes">Moreira Zambrano Mercedes</option>
                            <option value="Posligua Santana Francisca">Posligua Santana Francisca</option>
                            <option value="Quijano Moreira Emily Juliana">Quijano Moreira Emily Juliana</option>
                            <option value="Reyes Raamirez Jessenia Katehrine">Reyes Raamirez Jessenia Katehrine</option>
                            <option value="Rezabala Suarez Jova Alexandra">Rezabala Suarez Jova Alexandra</option>
                            <option value="Silvia Indio Mariana Gabriela">Silvia Indio Mariana Gabriela</option>
                            <option value="Valencia Ochoa Gema Jhael">Valencia Ochoa Gema Jhael</option>
                            <option value="Vera Intriago Diana Gabriela">Vera Intriago Diana Gabriela</option>
                            <option value="Zambrano Solorzano Nury Juana">Zambrano Solorzano Nury Juana</option>
                        </select>
                    </div>

                </div>
                <div class="col-md-6 col-sm-12">
                    <label>Area</label>
                    <select style="" class="form-control">
                        <option value="">Seleccione...</option>
                        <option value="1">Procesos</option>
                        <option value="2">Pouch</option>
                        <option value="3">Lata</option>
                        <option value="3">Etiquetado</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label>Linea</label>
                <select style="" class="form-control">
                    <option value="">Seleccione...</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="3">4</option>
                    <option value="3">5</option>
                </select>
            </div>
            <div class="form-group">
                <label>Motivo</label>
                <select style="" class="form-control">
                    <option value="">Seleccione...</option>
                    <option value="1">Enfermedad</option>
                    <option value="2">Calamidad Doméstica</option>
                    <option value="3">Comisión de seervicios</option>
                    <option value="4">Asuntos Particulares</option>
                    <option value="5">Vacaciones</option>
                    <option value="6">Fijo</option>
                    <option value="7">Eventual</option>
                </select>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <label>Fecha desde:</label>
                    <input id="fechadesde" width="250px" />
                </div>
                <div class="col-md-6 col-sm-12">
                    <label>Fecha hasta:</label>
                    <input id="fechahasta" width="250px" />
                </div>
            </div>
            <br />
            <center><input type="button" class="btn btn-info" name="name" value="Guardar" /></center>

        </div>
        <div class="col-md-2"></div>
    </div>
    
  
 </div>
<div id="ModalMensaje"> </div>
<script src="~/Scripts/SolicitudPermisoJS/SolicitudPermiso.js"></script>