
@{
    ViewBag.Title = "SolicitudPermiso";
}


<script src="~/Scripts/jquery-ui.js"></script>
<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/gijgo/combined/gijgo.min.js"></script>
<link href="~/Content/gijgo/combined/gijgo.min.css" rel="stylesheet" />
<link href="~/Content/SolicitudPermisoCss/SolicitudPermiso.css" rel="stylesheet" />
<script src="~/Scripts/Mensajes/Mensajes.js"></script>
<style>
    input, select, textarea {
        max-width: 100%
    }
</style>
<br />
<div style="padding:0 5% 0 0" class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-">
            <h4>Solicitud de Permiso General</h4>
            <label>Fecha: @DateTime.Now.ToShortDateString()</label>
        </div>
    </div>
    
    <div class="row">

        <div class="col-md-2"></div>
        <div class="col-md-8 col-sm-12 border border-secondary">

            <div class="row">

                <div class="col-md-4 col-sm-12">
                    <label>Departamento</label>
                    <select id="selectDepartamento" onchange="CambioDepartamento(this.value)" style="" class="form-control">
                        <option value="0" selected>Seleccione...</option>
                        <option value="1">Produccion</option>
                        <option value="2">Dispensario Médico</option>
                        <option value="3">RRHH</option>
                    </select>

                </div>

                <div class="col-md-4 col-sm-12">
                    <label>Area</label>
                    <select onchange="CambioArea()" id="selectArea" class="form-control" disabled>
                        <option value="" selected>Seleccione...</option>
                        <option value="1">Procesos</option>
                        <option value="2">Pouch</option>
                        <option value="3">Lata</option>
                        <option value="3">Etiquetado</option>
                    </select>
                </div>
                <div class="col-md-4 col-sm-12">

                    <label id="labelLinea" hidden>Linea</label>
                    <select id="selectLinea" hidden style="" class="form-control">
                        <option value="">Seleccione...</option>
                        <option value="1" selected>1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="3">4</option>
                        <option value="3">5</option>
                    </select>

                </div>
            </div>
            <div class="row">

                <div class="col-md-4 col-sm-12">
                    <label>Empleado</label>
                    <div class="ui-widget" id="comp1">
                        <select id="combobox">
                            <option value="">Select one...</option>
                            <option value="Anchundia Anchundia Aura Maria">Anchundia Anchundia Aura Maria</option>
                            <option value="Anchundia Parrales Viviana">Anchundia Parrales Viviana</option>
                            <option value="Bailon Mero María Ines">Bailon Mero María Ines</option>
                            <option value="Bravo Mnzaba Betsy Janet">Bravo Mnzaba Betsy Janet</option>
                            <option value="Cardenas Espinoza Patricia">Cardenas Espinoza Patricia</option>
                            <option value="Espinal Delgado Joyce Maryeli">Espinal Delgado Joyce Maryeli</option>
                            <option value="García Cedeño Mariuxi Katherine">García Cedeño Mariuxi Katherine</option>
                            <option value="Intriago Sornoza Mayra Johana">Intriago Sornoza Mayra Johana</option>
                            <option value="Jaramillo Gómez María Elizabeth">Jaramillo Gómez María Elizabeth</option>
                            <option value="Macias Chancay Sandy Ismenia">Macias Chancay Sandy Ismenia</option>
                            <option value="Moreira Zambrano Mercedes">Moreira Zambrano Mercedes</option>
                            <option value="Posligua Santana Francisca">Posligua Santana Francisca</option>
                            <option value="Quijano Moreira Emily Juliana">Quijano Moreira Emily Juliana</option>
                            <option value="Reyes Raamirez Jessenia Katehrine">Reyes Raamirez Jessenia Katehrine</option>
                            <option value="Rezabala Suarez Jova Alexandra">Rezabala Suarez Jova Alexandra</option>
                            <option value="Silvia Indio Mariana Gabriela">Silvia Indio Mariana Gabriela</option>
                            <option value="Valencia Ochoa Gema Jhael">Valencia Ochoa Gema Jhael</option>
                            <option value="Vera Intriago Diana Gabriela">Vera Intriago Diana Gabriela</option>
                            <option value="Zambrano Solorzano Nury Juana">Zambrano Solorzano Nury Juana</option>
                        </select>
                    </div>

                </div>

                <div class="col-md-4 col-sm-12">
                    <label>Motivo</label>
                    <select id="selectMotivo" style="" class="form-control" disabled></select>
                </div>
            </div>


            <div class="form-group">
                <label for="exampleFormControlTextarea1">Observacion</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>

            </div>            <div class="row">
                <div class="col-md-1 col-sm-1">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="switchHoraFecha" onchange="CambioHoraFecha();">
                        <label class="custom-control-label" for="switchHoraFecha"></label>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <label>Fecha de salida:</label>
                    <input class="form-control" type="date" name="name" value="" id="datetimeDesde1" readonly/>
                </div>

                <div class="col-md-4 col-sm-4">
                    <label>Hora de salida:</label>
                    <input class="form-control" type="time" name="name" value="" id="timeHoraDesde" readonly />
                </div>
                <div class="col-md-3  col-sm-3">
                    <label>Hora de regreso:</label>
                    <input class="form-control" type="time" name="name" value="" id="timeHoraHasta" readonly />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <label>Fecha de salida:</label>
                    <input class="form-control" type="date" name="name" value="" id="datetimeDesde2" />
                </div>
                <div class="col-md-6 col-sm-12">
                    <label>Fecha de regreso:</label>
                    <input class="form-control" type="date" name="name" value="" id="datetimeHasta" />
                </div>
            </div>
            <br />
            <center><input type="button" class="btn btn-info" name="name" value="Generar" onclick="Guardar()" /></center>
            <br />
        </div>
        <div class="col-md-2"></div>
    </div>


</div>
<div id="ModalMensaje"> </div>
<br /><br />
<script src="~/Scripts/SolicitudPermisoJS/SolicitudPermiso.js"></script>