@model Asiservy.Automatizacion.Datos.Datos.CC_ANALISIS_QUIMICO_PRECOCCION_CTRL

@{
    ViewBag.Title = "BandejaAnalisisQuimico";
}

<style>
    input, select, textarea {
        max-width: 100%;
    }

    .selectbox {
        background: #fff;
        color: #1d3b4a;
        padding: 5px 8px;
        line-height: 18px;
        border-radius: 4px;
        border-width: 0 1px 4px;
        cursor: pointer;
        border: 1px solid #ddd;
    }

    .box_filters {
        float: right;
    }

    .itemFilter {
        float: left;
        margin-right: 4px;
    }

    .btnWait {
        cursor: no-drop !important;
    }

    ._bloque {
        margin-bottom: 10px;
    }
</style>

<div class="row">
    <div class="col-md-12 col-12 col-sm-12 text-uppercase">
        <h6 class="text-md-left text-center" style="float:left">BANDEJA CONTROL ANÁLISIS QUIMICO PRECOCCIÓN</h6>
    </div>
</div>
<br />

<div class="row ">
    <div class="col-md-3 col-12 col-sm-3">
        <select id="selectEstadoReporte" class="form-control" onchange="CargarBandeja()">
            <option value="false" default>PENDIENTE</option>
            <option value="true">APROBADO</option>
        </select>
    </div>

    <div class="col-12 col-sm-9 col-md-9 text-md-left text-center box_filters">
        <div hidden id="divCalendar" class="itemFilter col-md-6 col-10 col-sm-9">
            <input type="hidden" id="fechaDesde" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
            <input type="hidden" id="fechaHasta" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
            <div id="reportrange" class="selectbox text-md-left text-center">
                <i class="fa fa-calendar"></i>&nbsp;
                <span></span> <i class="fa fa-caret-down"></i>
            </div>
        </div>

        <div class="float-sm-left text-md-left">
            <a href="#" onclick="CargarBandeja()" id="btnModalGenerarRegistro" class="btn btn-primary btn-sm"><i id="iconSearch" class="fas fa-search"></i></a>
        </div>
    </div>
</div>

<br />
@* DIV MOSTRAR PARTIALVIEW *@
<div class="table-responsive card" id="divTablaAprobados">

</div>

@* MODAL APRUEBA CONTROL*@
<div class="modal fade" id="ModalApruebaPendiente" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">APROBAR</h5>
                <button type="button" class="close" data-dismiss="modal" onclick="LimpiarFecha()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-md-4 col-12 col-sm-12 text-center text-md-left float-md-left">
                    <label>FECHA</label>
                    <input type="datetime-local" name="name" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" onkeydown="return(false)" max="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" onchange="validar()" id="txtFechaAprobado" class="form-control" />
                </div>
                <div class="table-responsive" id="divAprobarPendientePartial" style="padding:3px">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="LimpiarFecha()">Cerrar</button>
                <button type="button" id="btnAprobado" hidden class="btn btn-primary" onclick="AprobarPendiente(true)">Aprobar</button>
                <button type="button" id="btnPendiente" hidden class="btn btn-primary" onclick="AprobarPendiente(false)">Reversar</button>
            </div>
        </div>
    </div>
</div>
