
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Login/Login.css" rel="shortcut icon" />
    <link href="~/Content/Login/Login.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <link rel="apple-touch-icon" sizes="57x57" href="~/Content/ICO/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/Content/ICO/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/Content/ICO/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/ICO/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/Content/ICO/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/Content/ICO/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/Content/ICO/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/Content/ICO/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/ICO/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/Content/ICO/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/ICO/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/Content/ICO/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/ICO/favicon-16x16.png">
    <link rel="manifest" href="~/Content/ICO/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/Content/ICO/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>
<body>

    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3>Iniciar Sesión</h3>
                </div>
                <div class="card-body">
                    <form>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <img style="width:80%" src="~/Content/icons/user32.png" />
                                </span>
                            </div>
                            <input id="txtUsuario" type="text" class="form-control" placeholder="Usuario">

                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-key">
                                        @*<img style="width:80%" src="~/Content/icons/clave32.png" />*@
                                    </i>
                                </span>
                            </div>
                            <input id="txtPassword" type="password" class="form-control" placeholder="Contraseña">
                        </div>
                        @*<div class="row align-items-center remember">
                                <input type="checkbox">Remember Me
                            </div>*@
                        <div class="form-group text-center">
                         
                            <button title="Ingresar" class="btn btn-outline-light" id="btnIngresar" style="border-color:#2c3e50" type="button">
                                <i class="fas fa-sign-in-alt"> Ingresar</i>
                            </button>
                            <button data-toggle="tooltip" data-placement="top" title="Ingresar" class="btn btn-outline-light" id="btnNuevo" onclick="Nuevo()" style="border-color:#2c3e50" type="button">
                                <i class="fas fa-broom"> Limpiar</i>
                            </button>
                            @*<input type="button" id="btnIngresar" value="Ingresar" class="btn float-right login_btn">*@
                            <button hidden id="btnCargando" class="btn btn-warning" type="button" disabled>
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Espere...
                            </button>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-center">

                    <img style="width:70%" src="~/Content/images/logo1.png" />
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script src="~/Scripts/jquery-3.0.0.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/modernizr-2.6.2.js"></script>
<script src="~/Scripts/General/GeneralJS.js"></script>
<script src="~/Scripts/Login/Login.js"></script>
