<link href="~/Content/Login/Login.css" rel="stylesheet" />
<link href="~/Content/Login/font-awesome.min.css" rel="stylesheet" />
@{
    ViewBag.Title = "Login";
}

<!-- Modal --><br />
<div class="modal fade" id="ModalErrorLogin" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Mensaje del Sistema</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Error, usuario o contraseña incorrectos
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="ModalErrorLogin2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Mensaje del Sistema</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Error, Ingrese los campos requeridos
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>
<table>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
</table>
<div align="center" style='width:100%; border-width:1px;'>
    <div>
        <div class="card border-secondary mb-3" style="max-width: 20rem;">
            <div class="card-header"><h4 class="panel-title">Ingrese sus datos</h4></div>
            <div class="card-body">
                <fieldset>
                    <div class="input-container">
                        
                            <i class="fa fa-user icon"></i>
                            <input style="width:100%" placeholder="Usuario" name="usuario" type="text" autofocus id="txtUsuario">
                       
                    </div>
                    <div class="input-container">
                        <i class="fa fa-key icon"></i>
                        <input style="width:100%" placeholder="Contraseña" name="password" type="password" id="txtPassword">
                    </div>
                        <center><button id="btnIngresar" class="btn btn-primary">Ingresar</button></center>
                </fieldset>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.0.0.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script>
    $(document).keypress(function (e) {
        if (e.keyCode == 13) {
            $('#btnIngresar').click();
        }
    });
  
   $('#logoutli').hide();
    $("#btnIngresar").on("click", function () {

        if ($("#txtUsuario").val().trim() == "" || $("#txtPassword").val().trim() == "") {
            $("#ModalErrorLogin2").modal("show");
            
            return;
        }

        $.ajax({
            contentType: "application/json; charset=utf-8",
            type: "POST",
            url: "@Url.Action("LogIn", "Login")",
            data: JSON.stringify( { usuario: $("#txtUsuario").val(), password: $("#txtPassword").val()}),
        success: function (data) {
            if(data == 1)
            {
 
                $('#menu').show();
                
                $('#logoutli').show();

                var returnUrl = "@Request.QueryString["ReturnUrl"]";

                if (returnUrl == "") {

                    window.location.href = "@Url.Action("Home", "Home")";
                    
                }
                else {
                    window.location.href = returnUrl;
                }
                
            }
            else {
                $("#ModalErrorLogin").modal("show");
            }
        }
    });
    });
</script>
