<style>
    input, select, textarea {
        max-width: 100%;
    }

    .selectbox {
        background: #fff;
        color: #1d3b4a;
        padding: 5px 8px;
        line-height: 18px;
        border-radius: 4px;
        border-width: 0 1px 4px;
        cursor: pointer;
        border: 1px solid #ddd;
    }

    .box_filters {
        float: right;
    }

    .itemFilter {
        float: left;
        margin-right: 4px;
    }

    .btnWait {
        cursor: no-drop !important;
    }

    #seccionNuevaMarcacion {
        display: none;
    }

    .muestraSeccion {
        display: flex !important;
    }

    .mostrarBloques {
        display: flex !important;
    }
</style>

<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <h3 style="float: left;">Reporte de tickets de cerrados <span id="titleTabFechaCerrados2"></span></h3>
                <div id="DatosLoadAjax" class="cargandoAjax fa-2x"> <i class="fas fa-spinner fa-pulse"></i> </div>
                <div class="box_filters">

                    <div class="itemFilter">
                        <input type="hidden" id="fechaDesdeCerrados" value="" />
                        <input type="hidden" id="fechaHastaCerrados" value="" />
                        <div id="reportrangeCerrados" class="selectbox">
                            <i class="fa fa-calendar"></i>&nbsp;
                            <span></span> <i class="fa fa-caret-down"></i>
                        </div>
                    </div>
                    <div class="itemFilter">
                        <a href="#" id="generarReporteCerrados" class="btn btn-primary btn-sm"><i id="iconSearchCerrados" class="fas fa-search"></i></a>
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Tickets totales</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800"><span id="txtTkTotales-cerrados">0</span> Tickets cerrados</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-thumbs-up fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-danger shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Tiempo de soporte</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800"><span id="txtTiempoSoporte">0</span> </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-clock fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Tiempo de espera</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800"><span id="txtTiempoEspera">0</span> Ticket(s)</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-question fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br />
        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Tickets cerrados por departamento</h6>

                    </div>
                    <div class="card-body">
                        <div id="chartPorDepartamento-cerrados"></div>
                    </div>
                </div>
            </div>
        </div>
     
        <br />
        <div class="row">

            <div class="col-xl-12 col-lg-12">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Resumen por agente</h6>

                    </div>
                    <div class="card-body">
                        <div id="pivotgrid-chart-agente"></div>
                        <div id="pivotgrid-component-agente"></div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">

            <div class="col-xl-12 col-lg-12">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Resumen por departamento</h6>

                    </div>
                    <div class="card-body">
                        <div id="pivotgrid-chart-depa"></div>
                        <div id="pivotgrid-component-depa"></div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">

            <div class="col-xl-12 col-lg-12">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Resumen de tickets cerrados en el día por departamento</h6>

                    </div>
                    <div class="card-body">
                        <div id="pivotgrid-chart-dias-agente"></div>
                        <div id="pivotgrid-dias-agente"></div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Tabla de información</h6>
                    </div>
                    <div class="card-body">
                        <div id="grid-data-plana-cerrados"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

