

@{
    ViewBag.Title = "EmpleadoTurno";
}
<style>
    input, select, textarea {
        max-width: 100%;
    }
</style>
<br />
<h3 class="">Asignar Turno</h3>


<div class="row">
    <div class="col-md-4 col-sm-6">
        <label>Linea</label>
        @Html.DropDownList("selectLinea", new SelectList(ViewBag.Lineas, "Codigo", "Descripcion"), "seleccione", new { @class = "form-control" })
    </div>
    <div class="col-md-4 col-sm-6">
        <label>Fecha Prestados</label>
        <input type="date" id="txtFechaPrestado" name="name" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control" />
    </div>
    <div class="col-md-4 col-sm-6 text-center text-md-left">
        <label>Acción</label>
        <div class="form-group">
            <button data-toggle="tooltip" data-placement="top" title="Consultar" class="btn" id="btnConsultar" onclick="Consultar()" style="border-color:#2c3e50" type="button">
                <img style="width:100%" src="~/Content/icons/ver24.png" />
            </button>
        </div>
    </div>


</div>

<hr />
<div id="spinnerCargando" hidden class="text-center">
    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Cargando...</span>
    </div>
</div>

<div id="TableEmpleadoTurno" class="table-responsive">

</div>