
@{
    ViewBag.Title = "ReporteDistribucionPorLinea";
}
<style>
    input, select, textarea {
        max-width: 100%;
    }
</style>

<h3>Distribucion del personal por linea</h3>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <div class="form-group">
                <label>Linea</label>
                @if (ViewBag.SupervisorGeneral != null)
                {
                    @Html.DropDownList("Linea", new SelectList(ViewBag.Lineas, "Codigo", "Descripcion"), "Seleccione", new { @class = "form-control", @id = "selectLinea" })
                }
                else
                {
                    @Html.DropDownList("Linea", new SelectList(ViewBag.Lineas, "Codigo", "Descripcion", ViewBag.LineaEmpleado), "Seleccione", new { @class = "form-control", @readonly = "@readonly", @onchange = "CambioLinea(this.id)", @id = "selectLinea" })
                    <script>
                    function CambioLinea(id) {

                        $('#' + id).val('@ViewBag.LineaEmpleado');
                    }
                    </script>

                }
            </div>
        </div>

    </div>

    <div class="row">
        <div class="table-responsive" id="DivTableReporteDistribucion"></div>
    </div>
</div>
<script src="~/Scripts/Empleado/ReporteDistribucionPorLinea.js"></script>