@model IEnumerable<Asiservy.Automatizacion.Datos.Datos.CC_MANTENIMIENTO_PEDILUVIO>
@using Newtonsoft.Json;

<table class="table table-light table-striped table-hover" id="tblDataTable">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                DESCRIPCION
            </th>

            <th>
                FECHA CREACION
            </th>

            <th>
                FECHA MODIFICACION
            </th>
            <th>ESTADO</th>
            <th>ACCIONES</th>
        </tr>
    </thead>

    <tbody style="font-size:14px">
        @foreach (var item in Model)
        {
            DateTime fecham = Convert.ToDateTime(item.FechaModificacionLog);

            string fecha = item.FechaIngresoLog.ToString("dd-MM-yyyy HH:mm");
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdMantenimientoPediluvio)
                </td>
                <td>
                    @item.Descripcion.ToUpper()
                </td>

                <td>
                    @fecha
                </td>

                <td>
                    @if (fecham.ToString() != "1/1/0001 12:00:00 AM")
                    {
                        @fecham.ToString("dd-MM-yyyy HH:mm")
                    }
                </td>
                <td>
                    @if (item.EstadoRegistro == "A")
                    {
                        <span class="badge badge-success">ACTIVO</span>
                    }
                    else
                    {
                        <span class="badge badge-danger">INACTIVO</span>
                    }
                </td>
                <td>
                    @{string json = JsonConvert.SerializeObject(item);
                    }
                    <button id="btnActualizar" class="btn btn-link" onclick="ActualizarCabecera(@json)">Editar</button>
                    @if (item.EstadoRegistro == "A")
                    {
                        <button id="btnEliminar" class="btn btn-link" onclick="InactivarConfirmar(@json)">Inactivar</button>
                    }
                    else
                    {
                        <button id="btnEliminar" class="btn btn-link" onclick="ActivarConfirmar(@json)">Activar</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
